@using LivingMessiah.Features.Feasts.StrongsReferenceCards

<h3 class="mt-4 mb-1 text-center">Common Hebrew Words</h3>

<div class="card border-info">
	<div class="@MediaQuery.XsOrSm.DivClass">
		<Moed_H4150 />
		<br />
		<Mikra_H4744 />
		<br />
		<Chag_H2282 />
	</div>

	<div class="d-none d-md-block">
		<div class="row gx-1">
			<div class="col-5">
				<Moed_H4150 />
				<Mikra_H4744 />
			</div>
			<div class="col-7">
				<Chag_H2282 />
			</div>
		</div>
	</div>

</div>

@code {

}