@page "/Feasts"
@using LivingMessiah.Features.FeastDayPlanner
@using LivingMessiah.Features.Feasts.VerseReferenceCards
@using LivingMessiah.Layout
@using LivingMessiah.Layout.AlephBet
@using Page = LivingMessiah.Enums.Nav
@using static RCL.Features.Feasts.Enums.ColorConstants

<PageHeader PageEnum="Page.Feasts">
	<ChildContent>
		<div class="d-flex justify-content-between align-items-center mt-2  mb-3 border-bottom border-info">
			
				<h2 class=""><i class="@Page.Feasts.Icon"></i>&nbsp;&nbsp;@Page.Feasts.Title</h2>
			<span class="hebrew30">מוֹעֲדִים</span>
		</div>
	</ChildContent>
</PageHeader>

<ListGroup />

<div class="d-flex justify-content-center align-items-center mt-1">
	<span>color code:&nbsp;&nbsp;</span>
	<span class="text-black badge bg-@CssForMoadim-subtle">appointed times</span>&nbsp;&nbsp;
	<span class="text-black badge bg-@CssForNonMoadim-subtle">other times </span>
</div>

<div class="card border-primary mt-3"><Lev_23_01_02_04 /></div>


<CommonHebrewWords /> 

<Wrapper />
