@page "/Feasts"
@using LivingMessiah.Features.Feasts.VerseReferenceCards
@using LivingMessiah.Components.Layout
@using Page = LivingMessiah.Enums.Nav

<PageHeader PageEnum="Page.Feasts" />

<Introduction />
<ListGroup />

<div class="card border-primary mt-5">
	<Lev_23_01_02 />
</div>

<AlephBetWrapper /> 
