@page "/Purim"

@using LivingMessiah.Features.Feasts.VerseReferenceCards
@using LivingMessiah.Layout
@using LivingMessiah.Layout.AlephBet

<DetailsHeader FeastNav="Enums.Feast.Purim" />

<div class="card border-primary mt-5">
	<Est_9_24_32 />
</div>

<Wrapper />

@*
<img src="@Blobs.UrlOther("purim-2020-03-09.jpg")" alt="Purim" class="img-fluid rounded mt-4" />
<ol start="24">
<BibleReference Feast="@LinkSmartEnums.Feast.Purim"/>
*@



