@page "/Shabbat"

@using LivingMessiah.Layout
@using LivingMessiah.Features.Feasts.VerseReferenceCards
@using LivingMessiah.Layout.AlephBet

<DetailsHeader FeastNav="Enums.Feast.Shabbat" />

<div class="card border-primary mt-5">
	<Gen_02_01_03 />
</div>

<div class="card border-primary mt-5">
	<Exo_31_12_17 />
</div>

<div class="card border-primary mt-5">
	<Lev_23_03 />
</div>

<Wrapper />

@code {

}
