@page "/Tabernacles"
@using LivingMessiah.Features.Feasts.VerseReferenceCards
@using LivingMessiah.Components.Layout

<DetailsHeader FeastNav="Enums.Feast.Tabernacles" />

<div class="card border-primary mt-5">
	<Lev_23_33_44 />
</div>

<AlephBetWrapper />


@* 
@using Sukkot = LivingMessiah.Links.Sukkot

<img src="@Blobs.UrlEvents(LivingMessiah.Features.Sukkot.Constants.Other.Banner)" alt="Sukkot" class="img-fluid rounded mt-4" />

<a class="btn btn-outline-primary btn-sm mt-3"
	 href="@Sukkot.Index">
	<i class="fas fa-link"></i> @Sukkot.Title Registration
</a>

 *@
