@page "/Trumpets"

@using LivingMessiah.Features.Feasts.VerseReferenceCards
@using LivingMessiah.Layout
@using LivingMessiah.Layout.AlephBet

<DetailsHeader FeastNav="Enums.Feast.Trumpets" />

<div class="card border-primary mt-5">
	<Lev_23_23_25 />
</div>

<Wrapper />

<img src="@Blobs.UrlEvents("yom-teruah-torn.jpeg")" alt="Yom Kippur" class="img-fluid rounded mt-4" />

