@page "/Weeks"

@using LivingMessiah.Features.Feasts.VerseReferenceCards
@using LivingMessiah.Layout
@using LivingMessiah.Layout.AlephBet

<DetailsHeader FeastNav="RCL.Features.Feasts.Enums.Feast.Weeks" />

<div class="card border-primary mt-5">
	<Lev_23_10_11_and_15_21 />
</div>

<Wrapper />

@* 
@using Shavuot = LivingMessiah.Links.Shavuot

<a class="btn btn-outline-primary btn-sm mt-3"
	 href="@Shavuot.Index">
	<i class="fas fa-link"></i> @Shavuot.Title
</a>

<BibleReference Feast="@LinkSmartEnums.Feast.Weeks"/>

 *@

