@* @using static LivingMessiah.Features.Sukkot.Constants.Blobs *@

<div class="card border border-warning border-4 bg-warning-subtle mt-4 ">
  <h2 class=" py-2 text-center text-black"><b>Document Packet</b> <i class="fas fa-file-pdf"></i> </h2>

  <div class="card-body text-center">

    <ul class="list-group h3">
      @foreach (var document in DocumentList)
      {
        <li class="list-group-item bg-warning-subtle">
          <a href="@Constants.Documents.Url(document.FileName)"
             target="_blank">
            @document.Name
          </a>
        </li>
      }
    </ul>

  </div>

</div>

@code {
  private List<DocumentLink> DocumentList = new()
    {
      new("Liability Waiver", Constants.Documents.PDFs.LiabilityWaiver),
      new("Sukkot 2025 House Rules", Constants.Documents.PDFs.HouseRules),
      new("Schedule", Constants.Documents.PDFs.Schedule),
      new("Windmill Ranch Surrounding Area", Constants.Documents.PDFs.WindmillRanchSurroundingArea)
    };

  private record DocumentLink(string Name, string FileName);
}

