@page "/sukkot"

@using LivingMessiah.Features.Sukkot.Constants
@using LivingMessiah.Features.Sukkot.LandingPage
@using LivingMessiah.Features.Sukkot.Settings
@using LivingMessiah.SecurityRoot
@using LivingMessiah.Settings
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Options
@using static LivingMessiah.SecurityRoot.Auth0

@inject IOptions<SukkotSettings> SukkotSettings
@inject ISecurityHelper? SecurityHelper

<PageHeader PageEnum="Nav.Sukkot" />

@if (SukkotSettings.Value.SukkotIsOpen)
{
	@if (!SukkotSettings.Value.IsRegistrationClosed)
	{
		<div class="card border border-warning border-4 bg-warning-subtle mt-4 mb-4">
			<AuthorizeView Policy=@Auth0.Policy.Name>
				<Authorized>
					<div class="card-body  text-center"><h3>Hello, @context.User.Identity?.Name!</h3></div>
					<StartRegistrationButton IsAuthenticatedAndVerified=true />
				</Authorized>
				<NotAuthorized>
					<StartRegistrationButton IsAuthenticatedAndVerified=false />
					<LoggingInInstructions />
						<HelpGuideTogleButton />
				</NotAuthorized>
			</AuthorizeView>
		</div>

		@* <PaymentInfo /> *@
		<div class="@MediaQuery.XsOrSm.DivClass"><Header IsXsOrSm=true /></div>
		<div class="@MediaQuery.MdOrLgOrXl.DivClass"><Header IsXsOrSm=false /></div>
		<CalendarWeek />
		<Location />
		<Documents />
		<SukkotTShirt></SukkotTShirt>
	}

	@if (SukkotSettings.Value.IsRegistrationClosed)
	{
		<RegistrationClosed />
	}
}
else
{
	<RegistrationNotReady />
}

@code {

}
