@using LivingMessiah.Features.Sukkot.Constants

<div class="card border border-warning border-4 bg-warning-subtle mt-4 ">
	<h2 class=" py-2 text-center text-black"><b>Location</b></h2>
	<h4 class="text-center"><b>Green House Trolley Hobby Farm</b></h4>


	<div class="card-body">
		<p class="fs-5 mt-2 text-center">
			Go to this Hip Camp <a href="https://www.hipcamp.com/en-US/discover/arizona/the-greenhouse-trolley-hobby-fa" target="_blank">link</a>
			to have a look.
			<br /> 
			Here is a <a href="https://goo.gl/maps/jx2z6vD4n58STAqq9" target="_blank">Google Map</a>&nbsp;<i class="fa fa-map-pin"></i>.
		</p>
	</div>

	@* <img src="/images/feasts/sukkot-location.jpg" class="card-img-bottom p-2" alt="Sukkot Calendar Week" /> *@

</div>

@code {

}
