@using LivingMessiah.Features.Sukkot.Enums

<div class="card-body">
	<p class="fs-5">
		To begin registration, you need to be logged in with a Living Messiah confirmed account.
		Click <LoginRedirectButton ReturnUrl="@Enums.Pages.RegistrationSteps.Index" />
		to login with your existing Living Messiah account or, if you do not have one, you can create one.
	</p>
	<p class="fs-5">
		Filling out the registration form is only available on line.
		If you can not do that then contact one of the elders and we will fill it out for you.
	</p>
</div>

@code {
	//ReturnUrl="@Nav.Sukkot.Index"
}
