@using LivingMessiah.Features.Sukkot.Constants;

<div class="p-5 mb-4 bg-danger rounded-3">
	<div class="container-fluid py-5">
		<h1 class="display-5 fw-bold">Registration is CLOSED</h1>
		<h3>
			<span class="text-warning">
				If you would like to join us for Sukkot, please	contact @Constants.EmailClosed.Name at
				<a href="mailto:@Constants.EmailClosed.EmailTo?Subject=@Constants.EmailClosed.Subject"
					 target="_top">
					@Constants.EmailClosed.EmailTo
				</a> &nbsp;<i class="far fa-envelope"></i>.
			</span>
		</h3>
	</div>
</div>


@code {

}
