@* 
@using LivingMessiah.Settings
@using Microsoft.Extensions.Options
@inject IOptions<SukkotSettings> SukkotSettings
*@

<div class="p-5 mb-4 bg-body-secondary rounded-3">
	<div class="container-fluid py-5">
		<h1 class="display-5 text-success">Registration is Not Ready Yet, Try Later. Thanks</h1>
		@* <p class="text-black-50 float-end"><b>IsRegistrationClosed:</b> @SukkotSettings.Value.IsRegistrationClosed</p> *@
	</div>
</div>

@code {

}
