
@* THIS IS NOT BEING USED *@

<div class="card-body">
	<h5 class="card-title mb-1">Registration Fee</h5>
	@if (ConstantsFOLDER.RegistrationMeta.IsThereEarlyRegistration)
	{
		<dl class="row ms-1">
			<dt class="col-8">Early Registration Fee:</dt>
			<dd class="col-4"><span class="float-end">@ConstantsFOLDER.RegistrationMeta.EarlyRegistrationFee.ToString("C0")</span></dd>
			<dt class="col-8">Early Registration Last Day:</dt>
			<dd class="col-4"><span class="float-end">@ConstantsFOLDER.RegistrationMeta.EarlyRegistrationLastDay</span></dd>
		</dl>
	}
	<dl class="row ms-1">
		<dt class="col-8">Regular Registration Fee:</dt>
		<dd class="col-4"><span class="float-end">@ConstantsFOLDER.RegistrationMeta.RegistrationFee.ToString("C0")</span></dd>
		<dt class="col-8">Registration Last Day:</dt>
		<dd class="col-4"><span class="float-end">@ConstantsFOLDER.RegistrationMeta.RegistrationLastDay.ToShortDateString()</span></dd>
	</dl>
</div>


@code {
	
}
