@using Microsoft.AspNetCore.Components.Authorization
@using LivingMessiahSukkot.Layout.SecurityNavbar

<div class="d-print-none">
  <div class="d-flex p-1 mb-1 justify-content-end bg-secondary-subtle">
    <AuthorizeView>
      <Authorized>
        <div class="d-flex w-100 align-items-center">
          <LeftButton />
          <div class="flex-grow-1"></div>
          <ProfileAnchor />
          <LogoutButton />
        </div>
      </Authorized>
      <NotAuthorized>
        <div class="d-flex justify-content-between w-100">
          <LeftButton />
          <LoginButton />
        </div>
      </NotAuthorized>
    </AuthorizeView>
  </div>
</div>

@code {

}
