<div class="footer">

  <div class="d-print-none">
    @* <img src=@Blobs.UrlRoot("footer.jpg") class="img-fluid" /> *@
  </div>
  <div class="d-none d-print-block">
    @* <img src=@Blobs.UrlRoot("bannerline.png") class="img-fluid" /> *@
  </div>
  <p class="text-center">
    @DateTime.Now.Year Sukkot.LivingMessiah.com | &copy; Living Messiah Ministries Inc. All rights reserved.
  </p>
  
  <a href="https://LivingMessiah.com">
    <img src="/icons/lmfavicon.ico" alt="Logo" width="32" height="32" class="rounded" />
    LivingMessiah.com
  </a>

</div>

@code {

}
