@using LivingMessiah.Features.Sukkot.Constants
@using LivingMessiah.Features.Sukkot.Enums

@if (Debug.ShowStatusEnum && UsersCurrentStep is not null)
{
	<div class="row">
		<div class="col-12">
			<div class="my-2 pt-2 float-end">
				<p class="text-black-50">
					<small> Step: @UsersCurrentStep!.Name [<b>@UsersCurrentStep!.Value</b>]</small>
				</p>
			</div>
		</div>
	</div>
}

@code {
	[Parameter, EditorRequired] public Step? UsersCurrentStep { get; set; }
}
