@using LivingMessiah.Features.Sukkot.Enums

<div class="row mb-2 gx-0">
	@foreach (var item in Step.List.OrderBy(o => o.Value).ToList())
	{
		<div class="col-3">
			<div class="@MediaQuery.Xs.DivClass">
				<HorizontalStep EnumStep="@item" CurrentStep="CurrentStep" IsXs=true />
			</div>
			<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
				<HorizontalStep EnumStep="@item" CurrentStep="CurrentStep" IsXs=false />
			</div>
		</div>
	}
</div>


@code {
	[Parameter, EditorRequired] public Step? CurrentStep { get; set; }
}
