@using LivingMessiah.Features.Sukkot.Enums

<div class="btn-toolbar mt-3 pt-2" role="toolbar">

	<div class="btn-group btn-group-sm  me-2" role="group">
		<CommonButtons RegistrationStepId="Id"
									 NavButton="NavButton.Details">
		</CommonButtons>
	</div>

	<div class="btn-group btn-group-sm  me-2" role="group">
		<CommonButtons RegistrationStepId="Id"
									 NavButton="NavButton.DetailsPrint">
		</CommonButtons>
	</div>

	<div class="btn-group btn-group-sm  me-2" role="group">
		<CommonButtons RegistrationStepId="Id"
									 NavButton="NavButton.DeleteConfirmation">
		</CommonButtons>
	</div>
</div>

@code {
	[Parameter, EditorRequired] public int Id { get; set; }
}

