@using TriennialEnum = RCL.Features.Parasha.Enums.Triennial
@using ParashaHelpers = RCL.Features.Parasha.Helpers

@* @inject IToastService? Toast *@
@inject ILogger<LyricsLiturgyTeachingCard>? Logger

<div class="card border border-danger border-3 rounded-top text-center mb-3 mt-3">

	<div class="card-header bg-danger">
		<h2 class="text-center text-white ">Lyrics, Liturgy and Teaching</h2>
	</div>

	<Interary />

	@if (WeeklyReadingParashaFile is not null)
	{
		<div class="body my-2 fs-4">@CardTitle</div>
		<PdfButtonCardFooter HasConnectionStatus="true" WeeklyReadingParashaFile="@WeeklyReadingParashaFile" />
	}
	else
	{
		<RCL.Components.Alert><code>WeeklyReadingParashaFile</code> is Null!</RCL.Components.Alert>
	}	
</div>

@code {

	private string CardTitle = string.Empty;  
	private TriennialEnum? CurrentReadingEnum = ParashaHelpers.GetCurrentReading();

	private string? WeeklyReadingParashaFile;
	protected override async Task OnInitializedAsync()
	{
		//Logger!.LogInformation("{Method}, {Message}", $"{nameof(LyricsLiturgyTeachingCard)}!{nameof(OnInitializedAsync)}", "Start");

		if (CurrentReadingEnum is null)
		{
			Logger!.LogInformation("{Method}, {Message}", nameof(OnInitializedAsync), "CurrentReadingEnum is null");
			return;
		}

		CardTitle = $"{CurrentReadingEnum!.Date.ToString("yyyy MMMM dd")} | {CurrentReadingEnum.BCV}";
		WeeklyReadingParashaFile = CurrentReadingEnum.WeeklyReadingParashaFile?.Trim() ?? string.Empty;
	}

}
