
@inject NavigationManager NavigationManager
@inject ILogger<LogoutButton>? Logger

<button type="button"
				class="btn btn-xs btn-outline-info float-end text-black-50 me-2"
				@onclick="ButtonClick">
		<u>@Nav.Logout.Title</u> <i class="@Nav.Logout.Icon"></i>
</button>

@code {
	private void ButtonClick()
	{
		Logger!.LogInformation("{Method}, LogoutIndex: {LogoutIndex}, ReturnURL: {ReturnURL}"
		, nameof(ButtonClick), Nav.Logout.Index, @Nav.LandingPage.Index);
		NavigationManager!.NavigateTo($"{Nav.Logout.Index}?returnUrl={@Nav.LandingPage.Index}", true);
	}
}