<h3>ModalSkeleton</h3>

@code {
  //[Parameter, EditorRequired] public Enums.ModalMenuItem? ShowMenuItem { get; set; }

  [Parameter, EditorRequired] public RenderFragment? InstructionsRF { get; set; }

}
