@using LivingMessiah.Helpers

<div class="card">

	<div class="card-body">
		<h5 class="card-title text-center">Toolbar on top</h5>
		<p class="fs-5">
			The left
			<button class="btn btn-outline-primary btn-sm"><i class="@Icon.Arrow.Left"></i></button>
			and right
			<button class="btn btn-outline-primary btn-sm"><i class="@Icon.Arrow.Right"></i></button>
			buttons allow you to navigate between sections. The progress bar shows how many sections have been read.
		</p>
@* 		
		<p class="fs-5 mt-2">
			The far right button
			<button class="btn btn-outline-primary btn-sm dropdown-toggle"><i class="@Icon.Menu.Dropdown"></i></button>
			opens a menu with options to change the language, view instructions, and more.	
		</p>
 *@	
</div>

	@* 
	<div class="card-body">
		<h5 class="card-title text-center mt-2">ZZZ</h5>
		<ul class="fs-5">
			<li><b class="text-success">ZZZ</b>: ZZZ</li>
			<li><b class="text-danger">ZZZ</b>: ZZZ</li>
		</ul>
	</div>
 *@

</div>

@code {

}
