<div class="card border border-2 border-primary my-5 mx-1">
	<div class="card-header text-center">
		<span class="badge bg-warning text-dark fs-3">Hebrew Basics</span>
	</div>

	<div class="card-body py-1">
		<div class="card-title fx-6">There are many tools on-line to help you learn the <b>alphabet</b> and <b>how to count.</b>  Here are just a few:</div>
	</div>
	
	<div class="card-body py-1">
		<ul class="fa-ul">
			<li><i class="fa-li fas fa-caret-right text-warning"></i>Animated <a href="https://www.youtube.com/embed/UiCzoTs1AdE" target="_blank">Hebrew <i>|Alephbet</i> song</a> on YouTube</li>
			<li><i class="fa-li fas fa-caret-right text-warning"></i><a href="http://www.jewfaq.org/alephbet.htm" target="_blank">Concise Reference Document</a> from Judaism 101</li>
			<li><i class="fa-li fas fa-caret-right text-warning"></i>Cute video of people from 1 to 100 <a href="https://www.youtube.com/watch?v=7WwQL6hr02A" target="_blank">speaking their age in Hebrew</a></li>
			<li><i class="fa-li fas fa-caret-right text-warning"></i>The website <a href="http://hebrew4christians.com" target="_blank"> Hebrew4Christians </a> is a great source for all sorts of learning and teaching aids.  This <a href="http://www.hebrew4christians.com/Grammar/Unit_One/Homeschool/homeschool.html" target="_blank"> page </a> in particular is useful for those just starting out.</li>
		</ul>
	</div>

</div>

<div class="card border border-2 border-primary my-5 mx-1">
	<div class="card-header text-center fs-3"><span class="badge bg-warning text-dark">More Tools to Learn Hebrew</span></div>

	<div class="card-body py-1">
		Our own Craig Peters has written several articles for those who are trying to learn or improve their knowledge of Hebrew.
		<a href="@Constants.Blobs.LearningHebrewLink()" target="_blank">
			Learning Hebrew - Featuring Basic	Hebrew Prefixes and Suffixes
		</a> is one such article.  (This article was presented as an In-Depth Bible Study at Living Messiah in early 2015)
	</div>

</div>

@code {

}
