<!--Outer Card-->
<div class="card border border-2 border-primary my-5 mx-1">

	<div class="card-header text-center">
		<div class="badge bg-warning text-dark fs-3">
			Moons (<span class="text-success">New</span> and <span class="text-danger">Blood</span> )
		</div>
		<div class="fs-6 fw-bold mb-0 text-center">Presentations by Mark Webb</div>
	</div>

	<!--Inner Card 1-->
	<div class="card">

		<div class="card-body py-2 text-center">
			<i class="far fa-moon fa-2x text-success"></i> <span class="fs-2 fw-bold">New Moons </span>
		</div>

		<div class="card-body mb-0">
			<p class="fs-5 mb-0">
				Mark Webb, our congregation leader, was invited to give a presentation on the ancient Hebrew celebration of the New Moon.
				His presentation was video taped and is available through YouTube.
			</p>
		</div>

		<div class="card-body">
			<div class="d-flex justify-content-center">
				<div class="btn-group" role="group">
					<a href="http://youtu.be/VWM81wVx0Vc" class="btn btn-outline-danger" target="_blank"><u><i class="fab fa-youtube"></i></u></a>
					<a href="http://www.youtube.com/watch?v=DBf0QwHK-7c" class="btn btn-outline-danger" target="_blank"><u><i class="fab fa-youtube"></i></u></a>
					<a href="http://www.youtube.com/watch?v=Pifz9lRQifo" class="btn btn-outline-danger" target="_blank"><u><i class="fab fa-youtube"></i></u></a>
					<a href="http://www.youtube.com/watch?v=xy0Xz7pbiMc" class="btn btn-outline-danger" target="_blank"><u><i class="fab fa-youtube"></i></u></a>
					<a href="http://www.youtube.com/watch?v=VIfuux1rDpw" class="btn btn-outline-danger" target="_blank"><u><i class="fab fa-youtube"></i></u></a>
				</div>
			</div>
		</div>

	</div>


	<!--Inner Card 2-->
	<div class="card">
		<div class="card-body py-2 text-center">
			<i class="far fa-moon fa-2x text-danger"></i> <span class="fs-2 fw-bold">Blood Moons</span>
		</div>

		<div class="row g-0">
			<div class="col-sm-6 col-md-4 col-lg-3 p-2">
				<a class="" href="BloodMoons/">
					<img src="@Constants.Blobs.Link("RedMoonSm.jpg")" class="img-fluid rounded-start" />
				</a>
			</div>
			<div class="col-sm-6 col-md-8 col-lg-9">
				<div class="card-body">
					
					<p class="fs-5">
						Mark Webb has also developed an Internet presentation entitled, "<strong>Blood <span class="text-danger">Red</span> Moons</strong>."
						It is a fascinating	look at when in history we've had these curious occurrences.
						Click
						<a href="BloodMoons" class="btn btn-xs btn-outline-primary">
							<u>here</u> <i class="fas fa-chevron-right"></i>
						</a>
						to view this presentation.
					</p>
				</div>
			</div>
		</div>
	</div>

</div>



@code {
	
}
