<div class="card border border-2 border-primary my-5 mx-1">
	<div class="card-header text-center">
		<span class="badge bg-warning text-dark fs-3">Other Resources</span>
	</div>

	<div class="card-body">
		<p class="fs-5">
			There are many on-line tools available to you as you pursue your own personal Bible study.
		</p>
		<p class="offset-1 fs-5 p-2 bg-warning-subtle">
			<i class="fas fa-exclamation-triangle"></i> You should be somewhat cautious, however, as many websites may contain false or misleading information.
		</p>
	</div>

	<div class="card-body">

		<ul class="fa-ul fs-6">
			<li>
				<i class="fa-li fas fa-caret-right text-warning"></i>
				A detailed and interactive map <span class="fas fa-map-signs"></span> of ancient Israel at the time of Joshua and Judges.
				<a href="https://www.bible-history.com/index.php"
					 class="btn btn-xs btn-outline-primary" target="_blank">
					<i class="fas fa-external-link-alt"></i>
				</a>
			</li>
			<li>
				<i class="fa-li fas fa-caret-right text-warning"></i>
				If you know of any resources that you have found useful, please let us know.
			</li>
		</ul>
	</div>
	
</div>



@code {

}
