
<h2><span class="badge bg-warning">Other Resources</span></h2>

<blockquote class="blockquote">
	There are many on-line tools available to you as you pursue your own personal Bible study.
	<br /><i class="fas fa-exclamation-triangle"></i> You should be somewhat cautious, however, as many websites may contain false or misleading information.
</blockquote>

<ul class="h5">

	<li>
		A detailed and interactive map <span class="fas fa-map-signs"></span> of ancient Israel at the time of Joshua and Judges.

		<a href="https://www.bible-history.com/index.php"
			 class="btn btn-primary btn-sm" target="_blank">
			<i class="fas fa-external-link-alt"></i>...
		</a>
	</li>
	<li>
		If you know of any resources that you have found useful, please let us know. <i class="fas fa-question"></i>
	</li>
</ul>


@code {

}
