@using PWA.Features.FurtherStudies.DetailContent.Verses

<div class="card border border-2 border-primary my-5 mx-1">
	<div class="card-header text-center">
		<span class="badge bg-warning text-dark fs-3">Yeshua in the Tanakh</span>
		<p class="text-muted p-1 m-0 text-end"><small><i>Tanakh</i> is the Old Testament</small></p>
	</div>

	<div class="card-body">
		<p class="h5">
			<b>Luke 24:13-34</b> tells the story of two disciples who were walking on the road to Emmaus, talking with each other about the recent death of Yeshua.
			They were joined on their journey by the resurrected Messiah.
		</p>

		@*
	THIS DOESN'T WORK, EVEN THOUGH I HAVE NO ISSUES AT https://localhost:5001/Leadership (see the quote from Psalms 19:1)
	THE DIFFERENCE IS THAT HERE IT IS WRAPPED iNSIDE <ContentTemplate></ContentTemplate>
	SOLUTION: Wrap the <i> and <blockquote> inside a <div>
*@

		<p>
			<BibleQuote Cite="Luke 24:27">
				<p class="fs-5 text-primary">
					Then beginning with Moses and with all the prophets, He explained to them the things concerning Himself in all the Scriptures.
				</p>
			</BibleQuote>
		</p>
	</div>

	<div class="card-body">
		<p class="lead">
			Listed below are some of the Scriptures in the Tanakh (Old Testament) that Yeshua probably used when speaking with these two men on the road to Emmaus.
		</p>
	</div>

	<div class="card-body">

		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2">
			<div class="col">
				<Gen_49_10 />
			</div>
			<div class="col">
				<Deu_18_15 />
			</div>
			<div class="col">
				<Isa_07_14 />
			</div>
			<div class="col">
				<Isa_09_06_to_07 />
			</div>
		</div>
	</div>

</div>

@code {
}
