@using FilterEnums = LivingMessiahAdmin.Features.Sukkot.Dashboard.Enums.Filter
@using Microsoft.Extensions.Logging;

<div class="d-print-none">
  <div class="text-end mt-2">

    @foreach (var item in FilterEnums.List.OrderBy(o => o.Value))
    {
      <button @onclick="@(() => OnButtonClicked(item))"
              class="btn btn-outline-primary btn-sm me-1 @ActiveFilter(item)" title="@item.ButtonTitle">
        @item.ButtonLabel &nbsp;<i class="fas fa-chevron-circle-right"></i>
      </button>
    }
  </div>
</div>

@code {
  [Parameter, EditorRequired] public required FilterEnums? Filter { get; set; }
  [Parameter] public EventCallback<FilterEnums> OnFilterSelected { get; set; }

  public string ActiveFilter(FilterEnums filter) => filter == Filter ? "active" : "";

  private void OnButtonClicked(FilterEnums filter)
  {
    OnFilterSelected.InvokeAsync(filter);
  }
}
