<div class="row">
  <div class="col-12">
    <p class="text-black-50 float-end mt-1 mb-3 me-2">
      <small>Rows: <b>@Rows</b></small>
    </p>
  </div>
</div>

@code {
  [Parameter, EditorRequired] public required int Rows { get; set; }
}
