<div class="row">
  <div class="col-12">
    <p class="text-black-50 float-end mt-1 mb-3">
      <small>
        All Rows: <b>@allRows</b>;
        Filtered Rows: <b>@filteredRows</b>
      </small>
    </p>
  </div>
</div>


@code {
  private int filteredRows = 0;
  private int allRows = 0; // @data!.Count()
}
