@using FilterEnums = LivingMessiahAdmin.Features.Sukkot.Dashboard.Enums.Filter

@page "/SukkotDashboard"

@using LivingMessiahAdmin.Security.Constants
@using MenuBarEnums = LivingMessiahAdmin.Features.Sukkot.Enums.MenuBar;
@using Microsoft.AspNetCore.Components.Authorization

@* <AuthorizeView Policy=@RoleGroup.Sukkot> *@
<AuthorizeView Policy=@Policy.Name>
  <Authorized>
    <PageHeaderMenubar MenuBarEnum=MenuBarEnums.Dashboard />
    <Grid />
    <StripeTable />
  </Authorized>
  <NotAuthorized>
    <LoginRedirectCard Nav="Nav.SukkotDashboard" ReturnUrl=@Nav.SukkotDashboard.Index />
    <div class="alert alert-warning text-end" role="alert">
      @* <small>Not Authorized; Role Group Policy: @RoleGroup.Sukkot</small> *@
      <small>Not Authorized; Role Group Policy: @Policy.Name</small>
    </div>
  </NotAuthorized>
</AuthorizeView>


@code {
// ToDo: Force a PR, what does this mean
}
