@page "/Location"

<PageHeader PageEnum="Nav.Location" />

<div class="card @Border text-center">
	<div class="card-header">
		<h2 class=""><span class='badge bg-warning text-dark'>Address</span></h2>
	</div>

	<div class="card-body">
		<Address OnOneLine="true" />
		<img src="@Constants.Blobs.Link("LMmapSm.jpg")" class="img-fluid" />
	</div>
</div>

<div class="card @Border text-center mt-5">
	<div class="card-header">
		<h2 class=""><span class='badge bg-warning text-dark'>Google Maps</span></h2>
	</div>
	<div class="card-body">
	<div class="d-flex justify-content-center">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9419.795318480548!2d-111.8370479446454!3d33.41279949684512!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0169c0f6b64a049!2sLiving+Messiah+Ministries!5e0!3m2!1sen!2sus!4v1501018401900"
						width="350" height="300" style="border:0" allowfullscreen>
		</iframe>
	</div>
	</div>
</div>

@code {
	const string Border = ""; // "border border-secondary";
}
