@using LivingMessiah.Features.Sukkot.LandingPage
@using LivingMessiah.Features.Sukkot.RegistrationSteps.Enums

@inject ILogger<HRAWrapper>? Logger

<div class="@MediaQuery.Xs.DivClass">
	<div class="card mt-0 mb-3">
		<div class="card-body">
			<h2 class="text-primary">House Rules Confirmation</h2>
			<VerbiageParagraph />
			<YesNoButtons EmailParm="@EmailParm" OnActionCompleted="ReturnedActionCompleted" />
		</div>
	</div>
</div>

<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
	<h2 class="text-primary">House Rules Confirmation</h2>
	<VerbiageParagraph />
	<YesNoButtons EmailParm="@EmailParm" OnActionCompleted="ReturnedActionCompleted" />
</div>

@code {
	[Parameter, EditorRequired] public string? EmailParm { get; set; }
	[Parameter, EditorRequired] public EventCallback<Step> OnActionCompleted { get; set; }

	private void ReturnedActionCompleted(Step nextStep)
	{
		Logger!.LogDebug("{Method}, nextStep: {Status}", nameof(ReturnedActionCompleted), nextStep);
		OnActionCompleted.InvokeAsync(nextStep);
	}

}
