@page "/KeyDates"

@using LivingMessiahAdmin.SecurityRoot
@using Microsoft.AspNetCore.Components.Authorization

@using Page = LivingMessiahAdmin.Enums.Nav
<PageHeader PageEnum="Page.KeyDates" />

<AuthorizeView Policy=@RoleGroup.KeyDates>
  <Authorized>
    <div class="alert alert-success text-end" role="alert">
      <small>Authorized: Role Group Policy: @RoleGroup.KeyDates</small>
    </div>
  </Authorized>
  <NotAuthorized>
    <div class="alert alert-warning text-end" role="alert">
      <small>Not Authorized; Role Group Policy: @RoleGroup.KeyDates</small>
    </div>
    <LoginRedirectCard Nav="Nav.KeyDates" ReturnUrl=@Nav.KeyDates.Index />
  </NotAuthorized>
</AuthorizeView>

<div class="alert alert-warning text-center" role="alert">
	<b>Note:</b> This page has not yet been ported over from an older version
</div>

@code {

}
