@page "/TorahTuesday"

@using Page = LivingMessiah.Enums.Nav
<PageHeader PageEnum="Page.TorahTuesday" />

<div class="container d-flex justify-content-center">
	<img src="@Blobs.UrlRoot("tuesday-night-bible-study.jpg")" alt="Image" class="img-fluid" style="max-width: 1500px; width: 100%;">
</div>

@code {

}
