<div class="@CssClass">
	<a class="navbar-brand nav-link text-warning me-0" title="@Title @Nav.Home.Title" href="@Nav.Home.Index">
		<img src='/favicon.ico' alt='Logo' width='24' height='24' class='d-inline-block align-text-top me-2 rounded'>
	</a>
</div>

@code {
	[Parameter] public string? CssClass { get; set; }
	[Parameter] public string? Title { get; set; }
	// AnchorText <sup><b>Living Messiah</b></sup>
}
