@page "/PsalmsAndProverbs"

@using Microsoft.AspNetCore.Components.Authorization
@using Page = LivingMessiahAdmin.Enums.Nav

@* <PageHeader PageEnum="Page.PsalmsAndProverbs" /> *@

<div class="alert alert-warning text-center" role="alert">
	<b>Note:</b> This page has not yet been ported over from an older version
</div>

@* 
<AuthorizeView Policy=@Policy.Name>
  <Authorized>
    <div class="alert alert-success text-end" role="alert">
      <small>Authorized: Policy: @Policy.Name</small>
    </div>
  </Authorized>
  <NotAuthorized>
    <div class="alert alert-warning text-end" role="alert">
      <small>Not Authorized; Policy: @Policy.Name</small>
    </div>
    <LoginRedirectCard Nav="Nav.PsalmsAndProverbs" ReturnUrl=@Nav.PsalmsAndProverbs.Index />
  </NotAuthorized>
</AuthorizeView>
 *@

@code {

	/* What's this
		public static class Psalms
		{
			public const string Index = "/Psalms";
			public const string Title = "Psalms";
			public const string Icon = "fab fa-readme";
		}
	 */

}
