@page "/PsalmsAndProverbs"

@using Page = LivingMessiahAdmin.Enums.Nav
<PageHeader PageEnum="Page.PsalmsAndProverbs" />

<div class="alert alert-warning text-center" role="alert">
	<b>Note:</b> This page has not yet been ported over from an older version
</div>

@code {

	/* What's this
		public static class Psalms
		{
			public const string Index = "/Psalms";
			public const string Title = "Psalms";
			public const string Icon = "fab fa-readme";
		}
	 */

}
