
@inherits LayoutComponentBase

<header>
	<Authorize />
	@* ToDo: Authorize needs to be called TopRow MenuBar or something *@

	@* <Wrapper /> *@
	<BlazoredToasts /> 
</header>

@* Full width requires px-0 ... <div class="container-fluid px-0"> *@
<div class="container-fluid">
	@Body
</div>


<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>

<footer class="text-muted">
	@* <Footer /> *@
</footer>