

<div class="card-body">
	<p class="lead text-center">
		Then <span class="hebrew">יהוה</span> spoke to Moses saying speak to Aaron and his sons, saying, Thus you shall bless the sons Israel: you shall say to them, 

		<br /><br />May <span class="hebrew">יהוה</span> bless you, and keep you
		<br /><span class="hebrew"> יְבָרֶכְךָ יהוה, וְיִשְׁמְרֶךָ</span>
		<br /><br />May <span class="hebrew">יהוה</span> make His face shine on you, and be gracious to you
		<br /><span class="hebrew"> יָאֵר יהוה פָּנָיו אֵלֶיךָ, וִיחֻנֶּךָּ</span>
		<br /><br />May <span class="hebrew">יהוה</span> lift up His countenance on you, and give to you peace
		<br /><span class="hebrew"> יִשָּׂא יהוה פָּנָיו אֵלֶיךָ, וְיָשֵׂם לְךָ שָׁלוֹם</span>
		<br /><br /> So they shall invoke my name on the sons of Israel and I than will bless them
	</p>
</div>

<div class="card-header @BS.CardHeader"><h5 class="text-center">Aharonic Blessing Transliteration</h5></div>
<div class="card-body">
	<p class="lead text-center">
		Yevhārēkh-khā Yahhua veyishmerēkhā
		<br /><br />Yāʾēr Yahhua pānāw ēlekhā viḥunnékkā
		<br />Yissā Yahhua pānāw ēlekhā veyāsēm lekhā shālōm
		<br /> Amen
	</p>
</div>



@code {

}
