
	<p class="lead text-center">
		<br />Blessed be He Who spoke and the world came into being ...
		<br />blessed be He.
		<br />Blessed is He Who maintains creation;
		<br />blessed is He Who speaks and does;
		<br />blessed is He Who decrees and fulfills;
		<br />blessed is He Who has mercy on the earth;
		<br />blessed is He Who has mercy on creatures;
		<br />blessed is He Who gives goodly reward to those who fear Him;
		@* <small><sup>1/2</sup></small> *@
	</p>
	<p class="lead text-center">
		blessed is He Who lives forever and endures to eternity;
		<br />blessed is He Who redeems and rescues
		<br />blessed is His Name!
	</p>
	<p class="lead text-center">
		Blessed are You, <span class="hebrew">יהוה</span>, our God, King of the Universe,
		<br />the God, the merciful Father, Who is praised by the mouth of His people,
		<br />praised and glorified by the tongues of His devout ones and His servants.
		<br />We shall laud You, <span class="hebrew">יהוה</span>, our God, with praises and songs!
		@* <small><sup>2/2</sup></small> *@
	</p>


<div class="card-header @BS.CardHeader">
	<h4 class="text-center">Psalm 100 | A Psalm for Thanksgiving!</h4>
</div>
<div class="card-body">
	<p class="lead text-center mb-4">
		Shout joyfully to <span class="hebrew">יהוה</span>, all the earth!
		<br />Serve <span class="hebrew">יהוה</span> with gladness.
		<br />Come before Him with joyful singing.
		<br />Know that <span class="hebrew">יהוה</span> Himself is God; It is He Who has made us, and not we ourselves.
		@* <small><sup>1/2</sup></small> *@
	</p>
	<p class="lead text-center">
		We are His people and the sheep of His pasture. 
		<br />A Enter His gates with thanksgiving and His courts with praise.
		<br />Give thanks to Him, bless His Name. For <span class="hebrew">יהוה</span> is good.
		<br />His loving kindness is everlasting and His faithfulness to all generations!
		@* <small><sup>2/2</sup></small> *@
	</p>

</div>

@code {

}
