
<div class="card-header @BS.CardHeader"><h5 class="text-center">Sh'ma in Hebrew</h5></div>
<div class="card-body">
	<p class="lead text-center">
		<i class="fas fa-music"></i>
		<br />Sh’ma Yisrael
		<br /><span class="hebrew">יהוה</span> Elohaynu
		<br /><span class="hebrew">יהוה</span> Echad
		<br /><br />Barukh Shem k’vod
		<br />Malkhuto
		<br />L’olam Va-ed
	</p>
</div>

<div class="card-header @BS.CardHeader"><h5 class="text-center">Sh'ma in English</h5></div>
<div class="card-body">
	<p class="lead text-center">
		Hear, O Israel!
		<br /><span class="hebrew">יהוה</span> is our God,
		<br /><span class="hebrew">יהוה</span> is One!

		<br /><br />Blessed is the Name
		<br />of His Glorious Kingdom
		<br />For all Eternity
	</p>
</div>

@code {

}
