
<div class="card-header @BS.CardHeader">
	<p class="hebrew text-center my-0">
		וְאָהַבְתָּ <span class="at-red">אֵת</span> יְהוָה אֱלֹהֶיךָ
	</p>
</div>
<div class="card-body">
	<p class="lead text-center">
		You shall love <span class="hebrew">יהוה</span>, your God,
		with all your heart, with all your soul, and with all your resources.
		Let these matters that I command you today be upon your heart.
		Teach them thoroughly to your children
		and speak of them while you sit in your
		home, while you walk on the way, when
		you retire, and when you arise.
	</p>
</div>

<div class="card-body">
	<p class="lead text-center">
		Bind them as a sign upon your arm and let them be tefillin between your eyes.
		And write them on the doorposts of your house and upon your gates….

		<br /><br />And you shall love your neighbor as yourself.
	</p>
</div>

<div class="card-header @BS.CardHeader"><h5 class="text-center">What is the Greatest Commandment?</h5></div>
<div class="card-body">
	<p class="lead text-center">
		<sup><b class="text-primary">37</b></sup> Y’shua said unto him,
		<br /><sup><i class='text-muted fas fa-quote-left'></i></sup>
		<span class="text-danger">Thou shalt love YHVH Elohecha with all thy heart, and with all thy soul, and with all thy mind.</span>
		<sup><b class="text-primary">38</b></sup> <span class="text-danger">This is the first and great commandment.</span>
		<sup><b class="text-primary">39</b></sup> <span class="text-danger">And the second is like unto it, Thou shalt love thy neighbor as thyself.</span>
		<sup><b class="text-primary">40</b></sup> <span class="text-danger">On these two commandments hang all the Torah and the prophets</span> <sup><i class='text-muted fa fa-quote-right'></i></sup>.
	</p>
	<blockquote class="blockquote">
		<footer class="blockquote-footer">Messiah quoting Torah <cite title="Source Title"><b class="text-primary">Matthew 22:37-40</b></cite></footer>
	</blockquote>
</div>

@code {

}
