@page "/PaymentCanceled"

@using LivingMessiahSukkot.Features.Components
@using LivingMessiahSukkot.Security.Constants
@using Microsoft.AspNetCore.Components.Authorization
@using static LivingMessiahSukkot.Constants.Emails

<PageHeader PageEnum="Nav.CancelRegistration" />

<AuthorizeView Policy=@Policy.Name>
	<Authorized>
    <div class="pb-2 mt-4 mb-2 border-bottom">
      <h1><span class="text-secondary @Nav.CancelRegistration.Icon"></span> @Nav.CancelRegistration.Title</h1>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <div class="card border border-dark-subtle border-3" style="width: 50rem;">
        <div class="card-header fs-2 text-center">We're sorry you had a problem</div>

        <div class="card-body">
          <p class="fs-6 text-center">
            It appears that your donation transaction for Sukkot Registration <b>was not completed</b>.
            If you changed your mind, that's perfectly fine.
            However, if you ran into some other difficulty, feel free to contact us and we will work to correct the problem.
            You can email us at @((MarkupString)AnchorEmail).
          </p>
        </div>

        <div class="card-footer text-center"><ReturnToIntroButton /></div>
      </div>

    </div>

	</Authorized>
	<NotAuthorized>
    <div class="card border-warning my-5">
      <div class="card-header">Not Authorized</div>
    </div>
	</NotAuthorized>
</AuthorizeView>



@code {
  protected readonly MarkupString AnchorEmail =
    new MarkupString($"<a href='mailto:{Donations.Email()}'>{Donations.Email()}</a>");
}


