@inherits PWA.Features.About.Base

<h2 class="@Center text-primary mt-4 mb-1"><b>Personal Resolution</b></h2>

<div class="card mb-3" >
	<div class="row g-0">
		<div class="col-4">
			<a href='@Constants.Blobs.Pdf("resolve.pdf")' target="_blank">
			<img src="@Constants.Blobs.Link("ResolveSm.jpg")" class="img-fluid rounded-start" 
			alt="resolve">
			</a>
		</div>
		<div class="col-8">
			<div class="card-body">
				<p class="fs-5">
					This is a
					Each member of this congregation's leadership has made a personal vow before God concerning his life and conduct.
					This written vow, known as the "I Resolve" document, can be viewed
					<a href='@Constants.Blobs.Pdf("resolve.pdf")'
						 class="btn btn-primary btn-sm" target="_blank">
						<i class="fas fa-file-pdf"></i>&nbsp;here
					</a>.
				</p>
			</div>
		</div>
	</div>
</div>


