@using PWA.Features.ImportantLinks.Enums

<LinkCard Link="Links.AboveAllImages">
	<Description>
		Ralphie and Peribeth Cratty own and operate a small business,
		<a href="@Links.AboveAllImages.Url" target="_blank">@Links.AboveAllImages.Title</a>
		They have a selection of products that feature the Living Messiah logo which are available through their website.
		Also, they are able to produce custom caps, tee shirts, and other things with your own logo or text.
		(As a gifted and trained graphics artist, Ralphie is also able to generate whatever graphics you might need.)
	</Description>
</LinkCard>

