<div class="card mb-3">
  <div class="card-header">
    <h5 class="card-title text-center mb-0">Totals</h5>
  </div>
  <div class="card-body">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="border-end">
          <h4 class="text-primary mb-1">@TotalsCardRecord.RowCnt</h4>
          <small class="text-muted">Total Registrations</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="border-end">
          <h4 class="text-success mb-1">@TotalsCardRecord.AdultCnt</h4>
          <small class="text-muted">Adults</small>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="text-info mb-1">@TotalsCardRecord.ChildCnt</h4>
        <small class="text-muted">Children</small>
      </div>
    </div>
  </div>
</div>


@code {
  [Parameter, EditorRequired] public required TotalsCardRecord TotalsCardRecord { get; set; }

}
