
<div class="row mb-3">
	<div class="col-12">
		<button @onclick="@ButtonClicked"
						class="btn btn-outline-secondary float-end">
			<i class="fas fa-chevron-up"></i> Show List
		</button>
	</div>
</div>

@code {
	[Parameter] public EventCallback OnShowListSelected { get; set; }

	private void ButtonClicked()
	{
		OnShowListSelected.InvokeAsync();
	}
}
