@page "/sukkot"


@* <PageHeader PageEnum="Nav.Sukkot" /> *@
<PageTitle>Sukkot Registration</PageTitle>

<div class="pb-n1 mt-2 mb-3 ">
	@* <h1 class=""><i class="fas fa-campground"></i>&nbsp;Sukkot Registration Has Moved!</h1> *@
	<h2 class="text-center">Registration Has Moved!</h2>
</div>

<SukkotIndexCard /> 


@code {

}
