@page "/"

@using Microsoft.AspNetCore.Components.Authorization
@using LivingMessiahAdmin.SecurityRoot

@using Page = LivingMessiahAdmin.Enums.Nav
<PageHeader PageEnum="Page.Home" />

<AuthorizeView Policy=@RoleGroup.EmailVerifiedWithAtLeastOneRole>
  <Authorized>
    <NavList />
  </Authorized>
  <NotAuthorized>
    <div class="alert alert-warning text-center" role="alert">
      <small>Not Authorized</small>
    </div>
  </NotAuthorized>
</AuthorizeView>

@code {

}
