<h3>Report</h3>

@inject ILogger<Report>? Logger
@inject IToastService? Toast

@* [Inject] private IState<RegistrantState>? State { get; set; } *@

<p>ToDo: Add Detail Report which looks just like the one in LivingMessiah web app</p>


@code {
	//DetailAndDonationsHierarchicalQuery? ReportVM => State!.Value.ReportVM;
}
