@using LivingMessiah.Settings
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Options
@using LivingMessiah.Helpers
@using static LivingMessiah.SecurityRoot.Auth0

@inject IOptions<SukkotSettings> SukkotSettings

<AuthorizeView Roles="@Roles.Admin">
	<Authorized>
		<div class="row">
			<div class="col-12">
				<p class="text-black-50 float-end">
					<small>
						SukkotSettings Strip...
						<br />
						@* 
							<b>buy-button-id:</b> @SukkotSettings!.Value.StripeBuyButtonId (@SukkotSettings!.Value.StripeBuyButtonId.Length) <br /> 
							<b>publishable-key:</b> @SukkotSettings!.Value.StripePublishableKey (@SukkotSettings!.Value.StripePublishableKey.Length)<br /> 
						*@
						<b>buy-button-id:</b> @SukkotSettings!.Value.StripeBuyButtonId!.Truncate(10)	<br />
						<b>publishable-key:</b> @SukkotSettings!.Value.StripePublishableKey!.Truncate(5)
					</small>
				</p>
			</div>
		</div>
	</Authorized>
	<NotAuthorized>NOT AUTHORIZED	</NotAuthorized>
</AuthorizeView>

@code {

}
