@using LivingMessiah.Features.Sukkot.Enums
@using Page = LivingMessiah.Features.Sukkot.Enums.NavButton

<PageTitle>@Page.Donation.Title</PageTitle>

<div class="d-flex justify-content-center mt-2">
	<a href="@Nav.Sukkot.Index"
		 class="btn btn-success btn-lg"
		 title="Go back to Sukkot Introduction">
		<i class="fas fa-chevron-circle-left"> </i> Sukkot Introduction
	</a>
</div>

<div class="text-center pb-2 mt-4 mb-3">
	<h2>@Page.Donation.Title</h2>
</div>


@code {

}
