@page "/Sukkot/Print/{Id:int}/{showPrintInstructionMessage:bool}"
@* used to be Sukkot/Details, should I add another page directive? *@

@using LivingMessiah.Features.Sukkot.Enums
@using LivingMessiah.Features.Sukkot.Enums.Helpers
@using LivingMessiah.SecurityRoot
@using Microsoft.AspNetCore.Components.Authorization

@inject ILogger<Index>? Logger
@inject IToastService? Toast
@inject ISecurityHelper? SecurityHelper
@inject Data.IRepository? db

<PageTitle>@NavButton.Print.Title</PageTitle>

<Toolbar />

<AuthorizeView Policy=@Auth0.Policy.Name>
	<Authorized>
		<LoadingComponent IsLoading="RegistrationQuery == null" TurnSpinnerOff=TurnSpinnerOff>

			@if (IsAuthorized)
			{
				<Details RegistrationQuery="@RegistrationQuery" />
			}
			else
			{
				<p class="fs-3 bg-danger text-center text-white mt-5 mx-5">NOT Authorized to view content</p>
			}
		</LoadingComponent>
	</Authorized>
	<NotAuthorized>
		<p class="fs-5 bg-danger text-center text-white mt-5 mx-5">NOT Authorized</p>
	</NotAuthorized>

</AuthorizeView>

@code {
	[Parameter, EditorRequired] public int Id { get; set; }
	[Parameter] public bool showPrintInstructionMessage { get; set; } = true;

	protected bool TurnSpinnerOff = false;
	string? Email;
	protected bool IsAuthorized = false;

	public Data.RegistrationQuery? RegistrationQuery { get; set; }
	private string[] OverrideRoles = new[] { Auth0.Roles.Sukkot, Auth0.Roles.Admin };

	protected override async Task OnInitializedAsync()
	{
		Logger!.LogDebug("{Method} {Id}", nameof(OnInitializedAsync), Id);
		try
		{
			Email = await SecurityHelper!.GetEmail();
			if (String.IsNullOrEmpty(Email))
			{
				DoToastLog("Email is empty");
			}
			else
			{
				RegistrationQuery = await db!.ById(Id);

				if (RegistrationQuery is not null)
				{
					var (passed, errorMsg, securityOverride) = await SecurityHelper!.DoAuthentication(Email!, RegistrationQuery.EMail ?? "");

					if (passed)
					{
						DoPassed();
					}
					else
					{
						DoToastLog($"Failed DoAuthentication | {errorMsg}");
					}
				}
				else
				{
					DoToastLog("Registration Not Found");
				}
			}
		}
		catch (Exception ex)
		{
			Logger!.LogError(ex, "{Method}", nameof(OnInitializedAsync));
			Toast!.ShowError("An invalid operation occurred, contact your administrator");
		}
		finally
		{
			TurnSpinnerOff = true;
		}
	}

	private void DoToastLog(string message)
	{
		Logger!.LogWarning("{Method} {Message}", nameof(DoToastLog), message);
		Toast!.ShowWarning(message);
	}

	private void DoPassed()
	{
		IsAuthorized = true;
		(DateTime[]? week1, DateTime[]? week2) = EntryFormHelper.GetAttendanceDatesArray(RegistrationQuery!.AttendanceBitwise);
		RegistrationQuery.AttendanceDateList = week1;
		RegistrationQuery.AttendanceDateList2ndMonth = week2!;
	}

}
