@using LivingMessiah.Features.Sukkot.Enums

<a href="@NavButton.RegistrationStepsBack.Route"
	 class="btn btn-outline-primary btn-sm mx-1" title="@Title">
	<i class="far fa-arrow-alt-circle-left"></i> @Title
</a>

@code {
	[Parameter, EditorRequired] public bool BackwardDirection { get; set; }
	public string Title => BackwardDirection ? NavButton.RegistrationStepsBack.Label : NavButton.RegistrationSteps.Label;
}