
<div class="d-print-none">
	<div class="d-flex justify-content-end mt-2">
		<RegistrationStepsAnchor BackwardDirection="true" />
		<PaymentInstructionsModal />
		<PrintAnchor />
	</div>
</div>

@code {

}
