@using AccountEnum = LivingMessiahSukkot.Enums.Account
@using NavEnum = LivingMessiahSukkot.Enums.Nav

@inject NavigationManager NavigationManager
@inject ILogger<LoginButton>? Logger

<button type="button"
				class="btn btn-xs btn-outline-info float-end text-black me-2"
				@onclick="ButtonClick">
	<b><u>@AccountEnum.Login.Title</u></b> <i class="@AccountEnum.Login.Icon"></i>
</button>

@code {
	private void ButtonClick()
	{
		Logger!.LogInformation("{Method}, LoginIndex: {LoginIndex}, ReturnURL: {ReturnURL}"
		, nameof(ButtonClick), AccountEnum.Login.Index, @NavEnum.LandingPage.Index);
		NavigationManager!.NavigateTo($"{AccountEnum.Login.Index}?returnUrl={@NavEnum.LandingPage.Index}", true);
	}
}