
<div class="card ">
	<div class="card-header bg-warning">
		<div class="text-center">
			<a href="https://sukkot.livingmessiah.com" class="ms-2" title="Sukkot.LivingMessiah.com">
				<img src="/images/sukkotregistration.svg" alt="Logo" class="sukkot-logo" />
			</a>
		</div>
	</div>
	<div class="footer mt-0">
		<h4 class="text-center ">
			<a href="https://Sukkot.LivingMessiah.com">
				<img src="/icons/sukkot-favicon.ico" alt="Logo" width="32" height="32" class="rounded" />
				Sukkot.LivingMessiah.com
			</a>
			&nbsp;<i class="fas fa-arrow-right"></i>
		</h4>
	</div>
</div>
