@page "/Calendar"
@page "/KeyDates"

@using RCL.Features.Calendar
@using RCL.Features.Calendar.Navigation
@using RCLEnums = RCL.Features.Calendar.Navigation.Enums
@using CalendarEnumDateType = RCL.Features.Calendar.Enums.DateType

@* IToastService? Toast *@

<PageHeader PageEnum="LivingMessiah.Enums.Nav.Calendar" />

<NavSkeleton>

	@* <JustifyStartRF><HomeButton /></JustifyStartRF> *@

	<PrevButtonDivRF>
		<PreviousOrNextButton CurrentDateOnly="CurrentDateOnly"
													Direction=RCLEnums.Direction.Previous
													OnDateOnlySelected="ReturnedDateOnlySelected" />
	</PrevButtonDivRF>

	<TitleRF>
		<h5 class="text-center mb-0">@CurrentDateOnly.ToString(DateFormat.MMMM_YYYY)</h5>
	</TitleRF>

	<NextButtonDivRF>
		<PreviousOrNextButton CurrentDateOnly="CurrentDateOnly"
													Direction=RCLEnums.Direction.Next
													OnDateOnlySelected="ReturnedDateOnlySelected" />
	</NextButtonDivRF>

	@* <JustifyEndRF><ModalMenuItemButtons OnModalSelected="ReturnedModalMenuItem" /></JustifyEndRF> *@

</NavSkeleton>

<div class="border-bottom border-dark border-4 ">
	<WeekdayHeader />
</div>

<Wrapper IsXsOrSm="false" CurrentDateOnly="CurrentDateOnly" />
@* <Wrapper IsXsOrSm="false" CurrentDateOnly="CurrentDateOnly" CurrentDateOnlyOverride="CurrentDateOnlyOverride" /> *@

<div class="row mt-2">
	<div class="col-12">

		<ToggleButton ButtonLabel="Raw Data">

			<div class="card bg-warning-subtle p-1">
				<RawDataTable CurrentFilter="CurrentFilter" OnFilterSelected="ReturnedRawDataFilter" />
			</div>

		</ToggleButton>

	</div>
</div>



@code {
	public DateOnly CurrentDateOnly = DateOnly.FromDateTime(DateTime.Today);
	public DateOnly CurrentDateOnlyOverride = new DateOnly(2026, 1, 20);
	protected CalendarEnumDateType? CurrentFilter = CalendarEnumDateType.All; 

	protected override void OnInitialized()
	{
		//Logger!.LogDebug("{Method}, CurrentDateOnly: {CurrentDateOnly}", nameof(OnInitialized), CurrentDateOnly.ToShortDateString());
	}

	#region EventCallbacks

	private async Task ReturnedDateOnlySelected(DateOnly dateOnly)
	{
		CurrentDateOnly = dateOnly;
		//Toast!.ShowInfo($"Selected Date: {CurrentDateOnly.ToString("MMMM yyyy")}");
	}

	private void ReturnedRawDataFilter(CalendarEnumDateType filter)
	{
		//Logger!.LogDebug("{Method} {Message}", nameof(ReturnedRawDataFilter), filter.Name);
		CurrentFilter = filter;
	}

	#endregion
}
