@page "/Calendar"
@page "/KeyDates"

@using LivingMessiah.Features.FeastDayPlanner
@using LivingMessiah.Settings
@using RCL.Features.Calendar
@using RCL.Features.Calendar.Navigation
@using RCLEnums = RCL.Features.Calendar.Navigation.Enums
 
@* IToastService? Toast *@

<PageHeader PageEnum="LivingMessiah.Enums.Nav.Calendar" />

<NavSkeleton>

	@* <JustifyStartRF><HomeButton /></JustifyStartRF> *@

	<PrevButtonDivRF>
		<PreviousOrNextButton CurrentDateOnly="CurrentDateOnly"
													Direction=RCLEnums.Direction.Previous
													OnDateOnlySelected="ReturnedDateOnlySelected" />
	</PrevButtonDivRF>

	<TitleRF>
		<h4 class="text-center mb-0">@CurrentDateOnly.ToString(DateFormat.MMMM_YYYY)</h4>
	</TitleRF>

	<NextButtonDivRF>
		<PreviousOrNextButton CurrentDateOnly="CurrentDateOnly"
													Direction=RCLEnums.Direction.Next
													OnDateOnlySelected="ReturnedDateOnlySelected" />
	</NextButtonDivRF>

	@* <JustifyEndRF><ModalMenuItemButtons OnModalSelected="ReturnedModalMenuItem" /></JustifyEndRF> *@

</NavSkeleton>

<div class="border-bottom border-warning border-4 mb-1">
	<WeekdayHeader />
</div>

<Wrapper IsXsOrSm="false" CurrentDateOnly="CurrentDateOnly" />
@* <Wrapper IsXsOrSm="false" CurrentDateOnly="CurrentDateOnly" CurrentDateOnlyOverride="CurrentDateOnlyOverride" /> *@

<RawDataTable />

@code {
	public DateOnly CurrentDateOnly = DateOnly.FromDateTime(DateTime.Today);
	public DateOnly CurrentDateOnlyOverride = new DateOnly(2026, 1, 20);

	protected override void OnInitialized()
	{
		//CurrentDateOnly = DateOnly.FromDateTime(CurrentDate);
		//Logger!.LogDebug("{Method}, CurrentDateOnly: {CurrentDateOnly}", nameof(OnInitialized), CurrentDateOnly.ToShortDateString());
	}

	#region EventCallbacks

	private async Task ReturnedDateOnlySelected(DateOnly dateOnly)
	{
		CurrentDateOnly = dateOnly;
		//Toast!.ShowInfo($"Selected Date: {CurrentDateOnly.ToString("MMMM yyyy")}");
	}

	#endregion
}
