<p class="mt-4 mb-0 text-black-50">Columns...</p>

<ul class="list-inline">
  <li class="list-inline-item"><small>NS: No Show</small></li>
  <li class="list-inline-item"><small>People: Adults - Children</small></li>
</ul>

@code {

}
