
<div class="card card-body bg-light" style="width: 100%">
	<h4>
		<span class='badge bg-warning text-dark mb-0'><b>Itinerary</b></span>
	</h4>
	<div class="ms-2">
		<ul class="fa-ul">

			<li class="lead">
				<span class="text-warning"><i class="fa-li fas fa-caret-right"></i></span>
				The main service goes between <i class="text-warning far fa-clock"></i> 3:00 pm - 5:15 pm
			</li>
		</ul>
	</div>

</div>