@using LivingMessiah.Settings
@using Microsoft.Extensions.Options

@inject IOptions<SukkotSettings> SukkotSettings

<div class="row">
	<div class="col-12">
		<p class="text-black-50 float-end">
			<small>
				<b>SukkotIsOpen:</b> @SukkotSettings.Value.SukkotIsOpen;
				<b>IsRegistrationClosed:</b> @SukkotSettings.Value.IsRegistrationClosed
			</small>
		</p>
	</div>
</div>

@code {

}
