
<div class="card border border-2 border-warning my-3">
	<div class="card-body fs-5">
		Below are links to websites that may be of interest to others.
		Please feel free to suggest additions if you know of websites that you find useful in your study and that you think might be helpful to others.
	</div>

	<div class="card-body">
		These external websites are operated by third parties, and we have no influence on the content of these.
		Therefore, we also cannot	assume any guarantee or liability for this third-party content and its correctness.
	</div>
</div>


@code {

}
