@page "/IntroductionAndWelcome"

@using Page = LivingMessiah.Enums.Nav
<PageHeader PageEnum="Page.IntroductionAndWelcome" />

<div class="card border-warning">
	<div class="card-header">
		<h2 class="text-warning text-center"><b>Welcome</b></h2>
	</div>

	<div class="body p-2">
		<Welcome />
	</div>
	<div class="body p-2">
		<VisionAndMission />
	</div>
	<div class="body p-2">
		<Resolve MediaQuery="@MediaQuery.Lg" />
	</div>

</div>


@code {

}
