
<div class="card-header">
	<h5 class="text-center">The Avinu Prayer</h5>
	<p class="text-center">
		<small>Hebrew Transliteration</small>
	</p>
</div>
<div class="card-body">
	<p class="lead text-center">
		<br /> A-vee-noo she-ba-sha-mai-yeem Yeet-ka-desh sheem-kha
		<br /> A-vee-noo she-ba-sha-mai-yeem Ve-yeet-ba-rekh mal-khoot-kha
		<br /> Re-tson-kha yee-he-ye
		<br /> a-sui ba-sha-mai-yeem u-va-a-rets
		<br /> Ve-tee-tayn lakh-may-noo te-mee-deet
		<br /> Oo-ma-khol la-noo kha-to-tay-noo
		<br /> Ka-a-sher a-nakh-noo mo-kha-leem
		<br /> La-khot-teem la-noo
		<br /> Ve-al te-vee-ay-noo lee-day nees-sa-yon
		<br /> Ve-shom-ray-noo mee-khol rah
		<br /> Ve-shom-ray-noo mee-khol rah
		<br /> Amen … Amen … Amen
	</p>
</div>

<div class="card-header @BS.CardHeader"><h5 class="text-center">Our Father in Heaven</h5></div>
<div class="card-body">
	<p class="lead text-center">
		<i class="fas fa-music"></i>
		<br /> Our Father in Heaven
		<br /> May Your Name be sanctified
		<br /> Our Father in Heaven
		<br /> May Your Kingdom be blessed
		<br /> Your will shall be done in Heaven and on earth
		<br /> Give us our bread continually
		<br /> Forgive us the debt of our sins
		<br /> As we forgive the debt
		<br /> of those who sin against us
		<br /> Do not bring us into the hands of a test
		<br /> and protect us from all evil
		<br /> and protect us from all evil
		<br /> Amen … Amen … Amen
	</p>
</div>


@code {

}
