
<div class="card-header @BS.CardHeader"><h5 class="text-center">Hine mah tov</h5></div>
<div class="card-body">
	<p class="lead text-center">
		Hine mah tov umah na'im<br />
		shevet achim gam yachad <sup>2X</sup><br /><br />

		Hine mah tov (Hineh mah tov)<br />
		lai, lai, lai, lai, lai, lai, lai, lai, lai, lai <sup>2X</sup><br />

		Behold how good and pleasant it is<br />
		for brothers to dwell together <sup>2X</sup><br /><br />

		in unity (in unity)<br />
		lai, lai, lai, lai, lai, lai, lai, lai, lai, lai <sup>2X</sup>
	</p>
</div>

<div class="card-header @BS.CardHeader"><h5 class="text-center">Genesis 48:20</h5></div>
<div class="card-body">
	<p class="lead text-center">
		May God make the girls like the matriarchs Sarah, Rebecca, Rachel and Leah and the boys to be like Ephraim and Menashe.
		And he blessed them that day, saying, In thee shall Israel bless, saying, God make thee as Ephraim and as Manasseh:
		and he set Ephraim <span class="hebrew">אֶפְרַיִם</span> before Manasseh <span class="hebrew">מְנַשֶּׁה</span>
	</p>
</div>

@code {

}
