
<div class="card-body">
	<p class="lead text-center">
		<sup><b class="text-primary">14</b></sup> Is anyone among you sick? 
		Then he must call for the elders of the church and they are to pray over him, anointing him with oil in the name of the Lord; 
		<sup><b class="text-primary">15</b></sup>  and the prayer offered in faith will restore the one who is sick, and the Lord will raise him up,
		and if he has committed sins, they will be forgiven him.
		<sup><b class="text-primary">16</b></sup>  Therefore, confess your sins to one another, and pray for one another so that you may be healed. 
		The effective prayer of a righteous man can accomplish much. 
	</p>
</div>

<div class="card-header @BS.CardHeader"><h5 class="text-center">Ezekiel 9:4</h5></div>
<div class="card-body">
	<p class="lead text-center">
		<img src="@Blobs.UrlOther("ancient-tav.jpg")" alt="Ancient Tav" class="img-fluid rounded float-end" />
		<sup><b class="text-primary">4</b></sup> And YHVH said unto him,
		Go through the midst of the city,
		through the midst of Jerusalem,
		and set a mark <span class="hebrew at-red">תָּו</span> upon the foreheads of the men
		that sigh and that cry for all the abominations
		that be done in the midst thereof
	</p>
</div>

<br />

<div class="card-header @BS.CardHeader"><h5 class="text-center">Ezekiel 9:5-6</h5></div>
<div class="card-body">
	<p class="lead text-center">
		<sup><b class="text-primary">5</b></sup> And to the others he said in mine hearing, Go ye after him through the city,
		and smite: let not your eye spare, neither have ye pity: 
		<sup><b class="text-primary">6</b></sup> Slay utterly old and young, both maids, and little children, and women:
		but come not near any man upon whom is the mark <span class="hebrew at-red">תָּו</span>; and begin at my sanctuary.
	</p>
</div>

@code {

}
