<div class="card-header @BS.CardHeader"><h5 class="text-center">Siddur Prayer Torah Blessing</h5></div>
<div class="card-body">
	<p class="lead text-center">
		There is non like you among the Gods <span class="hebrew">יהוה</span>
		<br />There is nothing like your works
		<br />Your Kingdom is a Kingdom spanning all eternity
		And your dominion is through out every generation
		<br /><span class="hebrew">יהוה</span> reigns, <span class="hebrew">יהוה</span> has reigned, <span class="hebrew">יהוה</span> shall reign for all eternity
		<br /><span class="hebrew">יהוה</span> will give might to his people, <span class="hebrew">יהוה</span> will bless his people with peace
		<br />Father of compassion do good with Zion according to your will
		Rebuild the walls of Yerushalayim for we trust in you alone
		<br />O king, God, exhalted and uplifted master of worlds
		<br />when the Ark would travel Moshe would say
		<br /><sup><i class='text-muted fas fa-quote-left'></i></sup>Arise <span class="hebrew">יהוה</span> and let your enemies be scattered	Let those who hate you flee from you <sup><i class='text-muted fa fa-quote-right'></i></sup>
		<br />For from Zion the Torah will come forth and the word of <span class="hebrew">יהוה</span> from Yerushalayim
		<br />Blessed is he who gave the Torah to his people Israel in his holiness Amein and Amein.
	</p>
</div>

<div class="card-header @BS.CardHeader"><h5 class="text-center">Etz Chaim (In Hebrew)</h5></div>
<div class="card-body">
	<p class="lead text-center">
		<i class="fas fa-music"></i>
		<br /> Eitz chaim hi lama-chazi-kim ba
		<br /> Veto-o-me-che-yah me-e-u-ushar
		<br /> Dera-a-che-e-yah darche no-o-am
		<br /> Vechol netivoteiyah sha-a-a-a-lom
		<br /> Ha-a-shi-i-veinu יהוה e-e-le-echa
		<br /> Ve-na-shu-va
		<br /> Chadeish chadeish yame-e-nu
		<br /> Chadeish yame-e-nu ke-ke-e-dem
	</p>
</div>

<div class="card-header @BS.CardHeader">
	<h5 class="text-center">Etz Chaim (In English)</h5>
	<p class="text-center"><small>Proverbs 3:17-18;  Lamentations 5:21</small></p>
</div>
<div class="card-body">
	<p class="lead text-center">
		It is a tree of life
		<br /> to those who grasp it
		<br /> And those who support it are blessed
		<br /> Its ways are pleasant ways
		<br /> And all its paths are peace
		<br /> Cause us to return to You יהוה
		<br /> And we shall return
		<br /> Renew our days as of old
	</p>
</div>

@code {

}
