
<div class="card-header @BS.CardHeader">
	<h5 class="text-center">Oseh Shalom</h5>
	<p class="text-center"><small>May He who makes peace in His heights, make peace upon us and upon all Israel.</small></p>
</div>
<div class="card-body">
	<p class="lead text-center">
		<i class="fas fa-music"></i>
		<br />Oseh shalom bimro-mav hu ya’aseh shalom
		<br />aleinu V’al kol Israel V'imru imru amen. <sup class="text-black-50">x2</sup>
		<br />Ya’aseh shalom ya’aseh shalom,
		<br />shalom aleinu V’al kol Israel. <sup class="text-black-50">x2</sup>
		<br />Ya’aseh shalom ya’aseh shalom,
		<br />shalom aleinu V’al kol Israel. <sup class="text-black-50">x2</sup>
	</p>
</div>

@code {

}
