
<div class="card-body">
	<p class="card-text text-center">
		Read the Torah Parasha (portion) for the week
	</p>

	<p class="lead text-center">
		Click
		<a href="@Nav.Parasha.Index"
			 title="@Nav.Parasha.Title" class="btn btn-outline-primar btn-sm">
			<i class="@Nav.Parasha.Icon" aria-hidden="true"></i>
			&nbsp;<b>@Nav.Parasha.Title</b>
		</a>
		to see the a list of the readings.
	</p>

</div>

@code {

}
