
<div class="card-header @BS.CardHeader">
	<h5 class="text-center">Blessing over the Wine</h5>
	<p class="text-center"><small>(The <i>Berakhah HaGafen</i>)</small></p>
</div>
<div class="card-body">
	<p class="lead text-center">
		Baruch atah, Adonai Eloheinu, Melech Haolam borei p'ri hagafen. (Amein).
		<br /><br />Blessed are You, Lord, our God, King of the Universe, who creates the fruit of the vine.  (Amein)
	</p>
</div>

<div class="card-header @BS.CardHeader">
	<h5 class="text-center">Blessing over the Bread</h5>
	<p class="text-center"><small>(The <i>HaMotzi</i>)</small></p>
</div>
<div class="card-body">
	<p class="lead text-center">
		Baruch atah, Adonai Eloheinu, Melech Haolam, hamotzi lechem min ha'aretz. (Amein).
		<br /><br />Blessed are You, Lord, our God, King of the Universe, Who brings forth bread from the earth,
		And reminds us that Yahushua is The Word of God and the bread of life.
	</p>
</div>

@code {

}
