@page "/HealthCheck/Calendar"

@using Page = LivingMessiahAdmin.Enums.Nav
<PageHeader PageEnum="Page.HealthCheckCalendar" />

<div class="alert alert-warning text-center" role="alert">
	<b>Note:</b> This page has not yet been ported over from an older version
</div>

@code {

}
