@page "/Database"

@using Microsoft.AspNetCore.Components.Authorization
@using LivingMessiahAdmin.Security.Policies
@using Page = LivingMessiahAdmin.Enums.Nav


<PageHeader PageEnum="Page.Database" />

<AuthorizeView Policy=@Authentication.Name>
  <Authorized>
    <div class="alert alert-success text-end" role="alert">
      <small>Authorized: Policy: @Authentication.Name</small>
    </div>

    <AuthorizedSection />

  </Authorized>
  <NotAuthorized>
    <div class="alert alert-warning text-end" role="alert">
      <small>Not Authorized; Policy: @Authentication.Name</small>
    </div>
    <LoginRedirectCard Nav="@Page.Database" ReturnUrl="@Page.Database.Index" />
  </NotAuthorized>
</AuthorizeView>

@code {

}
