
<div class="d-print-none">
	<img src="/images/footer.jpg" class="img-fluid" />
</div>
<div class="d-none d-print-block">
	<img src="/images/bannerline.png" class="img-fluid" />
</div>
<p class="text-center mx-1">
	<small class="text-black-50">@DateTime.Now.Year LivingMessiah.com | &copy; Living Messiah Ministries Inc. All rights reserved.</small>
</p>