@using PWA.Constants

<div>
	<button class="navbar-toggler @border" type="button"
					data-bs-toggle="offcanvas" data-bs-target="#@DomIds.Menu.OffCanvas"
					aria-controls="@DomIds.Menu.OffCanvas" aria-label="Toggle menu">
		<i class="fas fa-bars menu-icon"></i>
	</button>
</div>

@code {
	const string border = "";
}
