@page "/Leadership"

<Header />

<div class="@MediaQuery.Xs.DivClass">

	<BootstrapAccordionXs />

</div>

<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
	<Card />
</div>

<PWA.Features.Leadership.Footer />