@page "/Leadership"

<Header />

<div class="@MediaQuery.Xs.DivClass">
	@* <AccordionXs /> *@
	<div class="alert alert-warning text-center" role="alert">
		<b>Note:</b> missing <code>AccordionXs</code>
	</div>

</div>	

<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
	<Card />
</div>

<PWA.Features.Leadership.Footer />