@page "/Planner2"

@using RCL.Features.FeastDayPlanner
@*

ToDo:   
- Use `@page "/Planner" directive.	
- Call <Index /> component
*@

<PageHeader PageEnum="LivingMessiah.Enums.Nav.Planner" />

@* <Index /> *@


<div class="alert alert-warning text-center fs-2  " role="alert">
	<b>Note:</b> Port of Feast Day Planner coming soon...
</div>

@code {

}
