<div class="card-header"><h4 class=""><i>Mikra</i> <span class="hebrew30">מִקְרָא</span></h4></div>

<div class="card-body">
	<div class="card-title">
		<a href="https://www.blueletterbible.org/lexicon/H4744/kjv/wlc/0-1/" class="" target="_blank">
			Strong's H4744
		</a> <i class="fas fa-external-link-alt"></i>
	</div>
	<p class="card-text">
		<b>Definition:</b> from H7121; something called out, i.e. a public meeting (the act, the persons, or the place); 
		also a rehearsal:—assembly, calling, convocation, reading.
	</p>

	<p class="card-text">
		<b>Exo</b> 12:16; <b>Lev</b> 23:2-4; 23:37; <b>Num</b> 10:2; <b>Neh</b> 8:8; <b>Isa</b> 1:13; 4:5
	</p>

</div>

@code {
	
}
