@page "/Passover"

@using PWA.Features.Feasts.VerseReferenceCards
@using PWA.Layout
@using PWA.Layout.AlephBet

<DetailsHeader FeastNav="RCL.Features.Feasts.Enums.Feast.Passover" />

<div class="card border-primary mt-3">
	<Lev_23_05_08 />
</div>

<Wrapper />

<img src="@Constants.Blobs.Link("Pesach2016GraphicLg.png")" alt="Pesach" class="img-fluid rounded mt-4" />

@* 
@using Articles = PWA.Links.Articles

<div class="row">
	<div class="col-12">
		<a class="btn btn-outline-primary btn-sm mt-3"
			 href="@Articles.Pesach.Index">
			<i class="fas fa-link"></i> Pesach
		</a>
	</div>
</div>
*@