@page "/Shabbat"

@using PWA.Layout
@using PWA.Features.Feasts.VerseReferenceCards
@using PWA.Layout.AlephBet

<DetailsHeader FeastNav="RCL.Features.Feasts.Enums.Feast.Shabbat" />

<div class="card border-primary mt-3">
	<Gen_02_01_03 />
</div>

<div class="card border-primary mt-5">
	<Exo_31_12_17 />
</div>

<div class="card border-primary mt-5">
	<Lev_23_03 />
</div>

<Wrapper />

@code {

}
