@page "/Trumpets"

@using PWA.Features.Feasts.VerseReferenceCards
@using PWA.Layout
@using PWA.Layout.AlephBet

<DetailsHeader FeastNav="RCL.Features.Feasts.Enums.Feast.Trumpets" />

<div class="card border-primary mt-3">
	<Lev_23_23_25 />
</div>

<Wrapper />

<img src="@Constants.Blobs.EventsLink("yom-teruah-torn.jpeg")" alt="Yom Kippur" class="img-fluid rounded mt-4" />

