@page "/Weeks"

@using PWA.Features.Feasts.VerseReferenceCards
@using PWA.Layout
@using PWA.Layout.AlephBet

<DetailsHeader FeastNav="RCL.Features.Feasts.Enums.Feast.Weeks" />

<div class="card border-primary mt-3">
	<Lev_23_10_11_and_15_21 />
</div>

<Wrapper />

