<h2 class="text-primary mt-4 mb-1"><b>Vision Statement</b></h2>

<div class="container">
	<img src="@Blobs.UrlRoot("vision.jpg")" alt="Image" class="float-start img-fluid me-3" style="width: 500px;">
	<p class="ms-3 fs-5">
		When we started our congregation, we felt the need for a written document that captured our vision for Living Messiah Ministries.
		Our congregational leader, Mark Webb, developed the "Vision Statement" below to meet that need.
		Reading this short document will give you a good idea of how we see ourselves and what we hope to do as a congregation.
	</p>
</div>


@code {

}
