<h2 class="text-primary mt-4 mb-1"><b>Weekly Torah Study</b></h2>

<div class="container">
	<img src="@Blobs.UrlRoot("WhatWeDo.jpg")"
			 class="float-start img-fluid me-3"
			 style="width: 500px;" alt="Image">
	<p class="ms-3 fs-5">
		It is known that people learn more effectively when they are actively engaged in discussion rather than passively listening to a speaker.
		With this in mind, our weekly Torah study emphasizes interactive discussion.
		Each week, a different member of the leadership team conducts the Torah study for that week.
		The goal is not merely to present ideas that the leader may have but to also stimulate discussion so that other members of the congregation
		might share insights that the Father has given them.
	</p>
</div>


@code {

}
