
<div class="ms-5">
	<figure>
		<blockquote class="blockquote text-black-50 fs-6">

			Mark Webb<br />
			Congregational Leader<br />
			
			<small>@Revised</small>

		</blockquote>
	</figure>
</div>


@code {
	[Parameter] public string Revised { get; set; } = string.Empty;
}
