@using Page = LivingMessiah.Enums
@inject NavigationManager NavigationManager
@inject ILogger<LoginAnchor>? Logger

<button type="button"
				class="btn btn-xs btn-outline-info float-end text-black-50"
				@onclick="NavigateToLogin">
	<u>@Page.Account.Login.Title</u> <i class="@Page.Account.Login.Icon"></i>
</button>

@code {
	private void NavigateToLogin()
	{
		Logger!.LogInformation("{Method}, LoginIndex: {LoginIndex}", nameof(NavigateToLogin), Page.Account.Login.Index);
		NavigationManager.NavigateTo(Page.Account.Login.Index);
	}
}