@using Page = LivingMessiah.Enums

<form class="float-end" method="post" action="@Page.Account.Logout.Action">
	<button type="submit" class="btn btn-xs btn-outline-info text-black-50">
		<u>@Page.Account.Logout.Title</u> <i class="@Page.Account.Logout.Icon"></i>
	</button>
</form>
