<div class="card card-body bg-light">
	<button type="button" class="btn btn-info btn-sm fs-5 fw-bold">
		Deuteronomy 18:15
	</button>
	<blockquote class="blockquote">
		<sup class="fw-bold text-primary">15</sup> The LORD your God will raise up for you a prophet like me from among you, from your countrymen, you shall listen to him.
	</blockquote>
</div>

@code {

}
