<div class="card card-body bg-light">
	<button type="button" class="btn btn-info btn-sm fs-5 fw-bold">
		Genesis 49:10
	</button>
	<blockquote class="blockquote">
		<sup class="fw-bold text-primary">10</sup> The scepter shall not depart from Judah,
		Nor the ruler’s staff from between his feet, 
		Until Shiloh comes*, 
		And to him shall be the obedience of the peoples.  
		<p><small>* Or <i>Until he comes to Shiloh</i>; or <i>Until he comes to whom it belongs</i>  </small></p>
	</blockquote>
</div>

@code {

}
