<div class="card card-body bg-light">
	<button type="button" class="btn btn-info btn-sm fs-5 fw-bold">
		Isaiah 7:14
	</button>
	<blockquote class="blockquote">
		<sup class="fw-bold text-primary">14</sup> Therefore the Lord Himself will give you a sign: Behold, a virgin will be with child and bear a son, and she will call His name Immanuel.
	</blockquote>
</div>

@code {

}
