@* 
@using CalendarEnum = LivingMessiahRCL.Features.Calendar.Enums 
*@

<div class="card border border-warning border-4 bg-warning-subtle mt-4 ">
	<h2 class=" py-2 text-center text-black"><b>Sukkot Calendar Week</b></h2>
	<h5 class=" py-3 text-center text-success">
		<b>@dateRange</b>
	</h5>
	<img src="/images/feasts/sukkot-week.jpg" class="card-img-bottom p-2" alt="Sukkot Calendar Week" />
</div>

@code {
	string dateRange = "sundown dddd_MMMM_dd through dddd_MMMM_dd";
	/*
  ToDo: use LivingMessiahRCL when available	
	string dateRange =
			$"sundown {CalendarEnum.FeastDay.Tabernacles.Date.ToString(DateFormat.dddd_MMMM_dd)}, " +
			$"through {CalendarEnum.FeastDay.Tabernacles.Date.AddDays(7).ToString(DateFormat.dddd_MMMM_dd)}";
*/
}
