
<div class="card-body text-center">
	<h4 class=" fw-bold text-decoration-underline">Dates <sup>&dagger;</sup></h4>
	<h5 class=""><b>From</b>: October 6th</h5>
	<h5 class=""><b>To</b>: October 14th</h5>
	<p class="text-black-50 mt-3"><sup>&dagger;</sup> See Sukkot Calendar Week ⤵️ </p>
</div>

<div class="card-body text-center">
	<h4 class=" fw-bold text-decoration-underline">Registration Fees</h4>
	<h5 class=""><b>Family</b> <sup>&Dagger;</sup>:  $100</h5>
	<h5 class=""><b>Single</b>: $50</h5>
	<p class="text-black-50 mt-3"><sup>&Dagger;</sup> or household of 2 or more</p>
</div>

@code {
	[Parameter, EditorRequired] public bool IsXsOrSm { get; set; }
}
