
@inject NavigationManager NavigationManager

<button @onclick="@(() => RedirectToLoginClick())"
				type="button" class="btn btn-primary btn-sm">
	@Nav.Login.Title <i class='@Nav.Login.Icon'></i>
</button>

@code {
	[Parameter] public string? ReturnUrl { get; set; }

	void RedirectToLoginClick()
	{
		NavigationManager!.NavigateTo($"{Nav.Login.Index}?returnUrl={ReturnUrl}", true);
	}
}

