<PageTitle>
	@if (String.IsNullOrEmpty(PageTitle))
	{
		@PageEnum.Title
	}
	else
	{
		@PageTitle
	}
</PageTitle>

<div class="pb-n1 mt-2 mb-3 @BorderCSS">
	<h1 class=""><i class="@PageEnum.Icon"></i>&nbsp;&nbsp;@PageEnum.Title</h1> 
</div>

@code {
	[Parameter, EditorRequired] public Nav PageEnum { get; set; } = Nav.LandingPage;
	[Parameter] public string? PageTitle { get; set; }
	[Parameter] public string? BorderCSS { get; set; } = "border-bottom border-info";
}
