@using LivingMessiahSukkot.Features.Enums
 
@inject NavigationManager NavigationManager

<button @onclick="@(e => ButtonClick(CurrentStepRecordId))"
				class="@NavButton!.Css" title="@NavButton!.Title">
	<i class="@NavButton.Icon"></i> @NavButton.Label
</button>


@code {
	[Parameter, EditorRequired] public int? CurrentStepRecordId { get; set; }
	[Parameter, EditorRequired] public NavButton? NavButton  { get; set; } //

	void ButtonClick(int? id)
	{
		if (id is null)
		{
			NavigationManager!.NavigateTo($"{NavButton!.Route}");
		}
		else
		{
			NavigationManager!.NavigateTo($"{NavButton!.Route}/{id}{NavButton.RouteSuffix}");
		}

	}
}