@using PWA.Features.Haggadah.Enums

<div class="card border border-2 border-primary p-2 mx-1 my-2">

	<div class="row">
		<div class="col-12">
			@(Language == DisplayLanguage.English ? Content!.EngTitle : Content!.EspTitle)
		</div>
	</div>  <!-- Title -->
	<div class="row">
		<div class="col-12">
			@(Language == DisplayLanguage.English ? EngBody : EspBody)
		</div>
	</div>  <!-- Body -->

</div> <!-- card -->
@code {
	[Parameter, EditorRequired] public Enums.Content? Content { get; set; }
	[Parameter, EditorRequired] public DisplayLanguage? Language { get; set; } = DisplayLanguage.English;

	[Parameter, EditorRequired] public RenderFragment? EngBody { get; set; }
	[Parameter, EditorRequired] public RenderFragment? EspBody { get; set; }


}
