@page "/HaggadahPrint"
@using PWA.Features.Haggadah
@inject ILogger<IndexPrint>? Logger

@foreach (var item in Enums.Content.List.ToList().OrderBy(o => o.Value))
{
	<div class="card border-primary p-2 mb-2">

		<div class="row">
			<div class="col-12">@item!.EngTitle</div>
		</div>

		<div class="row">
			<div class="col-12">
				@{
					var componentType = Type.GetType($"{Constants.DynamicComponentPathEng}.{item!.Name}");
					if (componentType is not null)
					{
						<DynamicComponent Type="componentType" />
					}
					else
					{
						<div class="text-danger">Component not found: @item!.Name</div>
					}
				}
			</div>
		</div>
	</div>
}

@code {

}
