
<div class="d-print-none my-2">
	<div class="d-flex justify-content-between my-2">
		<button @onclick="ReturnToNormalViewClick" class="btn btn-info @ButtonSize ms-1" title="return to normal view">
			<i class="far fa-arrow-alt-circle-left"></i> Return
		</button>

		<span class="@TitleSize">Printer Friendly View</span>

		<a class="btn btn-outline-secondary @ButtonSize me-1" title="click to print" href="javascript:window.print()">
			<span class="fas fa-print"></span>
		</a>

	</div>

	<p class="text-center my-2">
		<a href='@Blobs.Pdf(@Language!.Pdf)' target="_blank" alt="@Language!.PdfDescription">@Language!.PdfDescription</a>
	</p>

</div>



@foreach (var item in Enums.Content.List.ToList().OrderBy(o => o.Value))
{
	<div class="card border border-2 border-primary p-2 mx-1 mb-2">

		<div class="row">
			<div class="col-12">@item!.EngTitle</div>
		</div>

		<div class="row">
			<div class="col-12">
				@{
					var componentType = Type.GetType($"{ComponentPath}.{item!.Name}");
					if (componentType is not null)
					{
						<DynamicComponent Type="componentType" />
					}
					else
					{
						<div class="text-danger">Component not found: @item!.Name</div>
					}
				}
			</div>
		</div>
	</div>
}

@code {
	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; }
	[Parameter, EditorRequired] public bool IsXs { get; set; }
	[Parameter, EditorRequired] public EventCallback OnReturn { get; set; }

	protected string ButtonSize => IsXs ? " btn-sm" : "";
	protected string TitleSize => IsXs ? " fs-6" : "fs-4";

	protected string ComponentPath =>
		Language == Enums.DisplayLanguage.Spanish
		? Constants.DynamicComponentPathEsp
		: Constants.DynamicComponentPathEng;

	private void ReturnToNormalViewClick()
	{
		OnReturn.InvokeAsync();
	}

}
