@page "/"

@using PWA.Features.Home.UpcomingFeasts

<PageTitle>Home</PageTitle>

@* 
<HomeImage />
 *@

<CenteredContainer><WelcomeCard /></CenteredContainer>
<CenteredContainer><ShabbatTeachingCard /></CenteredContainer>
<CenteredContainer><MoonCard /></CenteredContainer>
<CenteredContainer><OmerCard /></CenteredContainer>


<CenteredContainer>
	<div class="@MediaQuery.Xs.DivClass"><FeastCards IsXs="true" /></div>
	<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass"><FeastCards IsXs="false" /></div>
</CenteredContainer>
 
<SocialMediaButtons />

@code {

}





