
<div class="card-body py-1">
	<div class="card bg-primary-subtle">
		
		<div class="card-header fs-3">Itinerary</div>
		
		<div class="card-body">
			<p class="fs-5 text-center text-danger mb-0">
				Sabbath worship service begins at ...
			</p>

			<p class="fs-1 text-center text-danger mt-0 mb-1">
				<b>3:00 pm</b>
				<sup class="fs-6 text-black-50">
					<a href="https://www.timeanddate.com/time/zone/usa/arizona" target="_blank" title="Arizona Time Zone">
						AZ TZ
					</a>
				</sup>
			</p>
		</div>

	</div>
</div>

@* <img src="/images/itinerary.svg" /> *@

@code {
	
}
