@using PWA.Features.Home.ParashaDiscovery

<div class="card border border-danger border-3 rounded-top text-center mb-3 mt-3">
	<div class="card-header bg-danger">
		<h2 class="text-center text-white ">Shabbat Teaching</h2>
	</div>

	<Itinerary />
	<ShabbatLiturgyButton />
	<WrapperCardBody /> 

</div>

@code {

}
