
<div class="card-body py-1">
	<div class="card bg-primary-subtle">
		
		<div class="card-header fs-3">Liturgy</div>

		<div class="card-body text-center mt-0">

			<span class="fs-2 text-center">
				<a class="btn btn-outline-primary btn-lg"
					 href="@Enums.Nav.Liturgy.Index" title="Go to the @Enums.Nav.Liturgy.Title wizard">
					<i class="@Nav.Liturgy.Icon"></i>
					@Enums.Nav.Liturgy.Title &nbsp; <i class="fas fa-chevron-right"></i>
				</a>
			</span>
		</div>

	</div>

</div>


@code {

}
