.calendar-day {
	position: relative;
	background-color: #ffffff;
	border: 1px solid #ddd;
	overflow: hidden;
	color: #333;
	font-weight: 500;
	aspect-ratio: 4 / 3;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	padding: 4px 2px 4px;
	box-sizing: border-box;
}

	.calendar-day .day-number {
		position: absolute;
		bottom: 1px;
		left: 1px;
		z-index: 2;
		background: rgba(255, 255, 255, 0.85);
		border-radius: 4px;
		padding: 4px 8px;
		min-width: 28px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 0.7em;
		font-weight: 600;
		color: #333;
		box-sizing: border-box;
	}

.d-md-none .day-number {
	font-size: 0.50em;
	padding: 2px 4px;
	min-width: 20px;
	bottom: 1px;
	left: 1px;
}

.calendar-day.feast-border {
	border: 2px solid #0d6efd;
}

.calendar-day .day-content {
	position: relative;
	z-index: 2;
	width: 100%;
	flex: 1;
	overflow: auto;
	font-size: 0.85em;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.d-md-none .day-content {
	font-size: 0.65em;
}

.calendar-day.other-month {
	opacity: 0.5;
	background-color: #f5f5f5;
}

.calendar-day.current-month {
	background-color: #f5f5f5;
}

/*.calendar-day.today {
	border-color: #ffe066;
}*/

.calendar-day.today .day-number {
	background: #ffe066;
	color: #333;
	font-weight: bold;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(255, 224, 102, 0.7);
}

.position-relative {
	position: relative !important;
}

.position-absolute {
	position: absolute !important;
}

.zindex-2 {
	z-index: 2 !important;
}

.opacity-50 {
	opacity: 0.5;
}

.cursor-pointer {
	cursor: pointer;
}
