@inject Data.IService? Service

@* <p>@CurrentDate.ToShortDateString()</p> *@



@code {
	[Parameter, EditorRequired] public DateOnly CurrentDate { get; set; }
	[Parameter] public bool IsXsOrSm { get; set; }

}
