<div class="row text-center">
	<div class="col fs-6">Sun</div>
	<div class="col fs-6">Mon</div>
	<div class="col fs-6">Tue</div>
	<div class="col fs-6">Wed</div>
	<div class="col fs-6">Thu</div>
	<div class="col fs-6">Fri</div>
	<div class="col fs-6">Sat</div>
</div>

@code {

}
