<div class="row text-center">
	<div class="col fs-6">Su</div>
	<div class="col fs-6">Mo</div>
	<div class="col fs-6">Tu</div>
	<div class="col fs-6">We</div>
	<div class="col fs-6">Th</div>
	<div class="col fs-6">Fr</div>
	<div class="col fs-6">Sa</div>
</div>

@code {

}
