@using RCL.Features.Calendar.Data
@using RCL.Features.Calendar.Enums

@inherits BaseEventsRepository

@if (BaseData is not null)
{
	<div class="hebrew-calendar">

		@for (int row = 0; row < MonthDays.Count / 7; row++)
		{
			@for (int col = 0; col < 7; col++)
			{
				var date = MonthDays[row * 7 + col];
 				<div class="d-md-none">
					<DayCell Date="date"
									 MonthNumber="CurrentDate.Month"
									 DayCellList="GetDayCellList(date)"
									 FeastRowBorder=""
									 MediaQuery="d-md-none" />
				</div> 
				<div class="d-none d-md-block">
					<DayCell Date="date"
									 MonthNumber="CurrentDate.Month"
									 DayCellList="GetDayCellList(date)"
									 FeastRowBorder=""
									 MediaQuery="d-none d-md-block" />
				</div>
			}
		}

	</div>
}
else
{
	<div class="alert alert-warning text-center" role="alert">
		<b>Note:</b> <code>BaseData is not null</code>
	</div>
}

@code {
	[Parameter, EditorRequired] public DateOnly CurrentDate { get; set; }

	private List<DateOnly> MonthDays { get; set; } = new();

	protected override void OnParametersSet()
	{
		MonthDays = Helpers.MonthView.GetDates(CurrentDate);
	}

	private List<Enums.EventRecord>? GetDayCellList(DateOnly date)
	{
		if (BaseData is null)	{	return null; }

		return BaseData.Where(w => w.Date == date)
		.OrderBy(r => r.Date)
		.ThenBy(r => r.Sort1).ThenBy(r => r.Sort2)
		.ToList();
	}

}
