
<ul class="list-inline justify-content-center d-flex">
  <li class="list-inline-item text-decoration-underline">Introduction</li>
  <li class="list-inline-item text-decoration-underline">Vision</li>
  <li class="list-inline-item text-decoration-underline">Mission</li>
  <li class="list-inline-item text-decoration-underline">Resolve</li>
</ul>


@code {

}
