
<h2 class="text-primary mt-4 mb-1">Our Vision</h2>

<p class="ms-3 fs-5">
	To build community from a Hebraic understanding by gathering together with others whom YHWH is gathering that desire to call upon The Name of THE LORD
	, <span class="hebrew">יהוה</span> in order to understand and apply His commandments as we walk in His plan of Salvation.
</p>
