
<div class="card-header"><h5 class="text-center mt-1">Feast References | Leviticus 23</h5></div>

<div class="card-body">
	<h5 class="card-title">Leviticus 23:1-2</h5>
	@* <blockquote>	</blockquote> *@

		<p class="fs-5">
			<sup><b>1</b></sup>
			And <span class="hebrew">יְהוָה</span> <sup>the LORD</sup> <i>vaydabber</i> <span class="hebrew">וַיְדַבֵּר</span> <sup>spake unto</sup>
			<i>Moseh</i> <span class="hebrew">מֹשֶׁה</span> <sup>Moses</sup>, saying,
		</p>

		<p class="fs-5">
			<sup><b>2</b></sup>
			Speak unto <i>benei</i> <span class="hebrew">בְּנֵי</span> <sup>the children</sup> <i>Yisrael</i> <span class="hebrew">יִשְׂרָאֵל</span> <sup>of Israel</sup>
			, and say unto them, Concerning the <b><i>moadei</i></b> <span class="hebrew">מוֹעֲדֵי</span> <sup>feasts of</sup> <span class="hebrew">יְהוָה</span> <sup>the LORD</sup>
			, which ye shall proclaim to be <i>kodesh</i> <span class="hebrew">קֹדֶשׁ</span> <sup>holy</sup> <b><i>mikra</i></b> <span class="hebrew">מִקְרָאֵי</span> <sup>convocations</sup>,
			even these are my <b><i>moedi</i></b> <span class="hebrew">מוֹעֲדֵי</span> <sup>feasts</sup>.
		</p>

		<p class="text-center text-black-50">Lev 23-3 not shown, see Shabbat</p>

	<h5 class="card-title">Leviticus 23:4</h5>
		<p class="fs-5">
			<sup><b>4</b></sup>
			These are the <b><i>moadei</i></b> <span class="hebrew">מוֹעֲדֵי</span> <sup>feasts</sup> of <span class="hebrew">יְהוָה</span> <sup>the LORD</sup>
			, even <i>kodesh</i> <span class="hebrew">קֹדֶשׁ</span> <sup>holy</sup> <b><i>mikrei</i></b> <span class="hebrew">מִקְרָאֵי</span> <sup>convocations</sup>
			, which ye shall <i>tikreu</i> <span class="hebrew">תִּקְרְאוּ</span> <sup>proclaim</sup> in their <b><i>bemoadam</i></b> <span class="hebrew">בְּמוֹעֲדָם</span> <sup>seasons</sup>.
		</p>


		<small class="float-end"><i>Vayiqra</i> <span class="hebrew16">וַיִּקְרָא</span> <sup>Leviticus </sup> 23:1-2, 4</small>

</div>



@code {

}
