@page "/Liturgy"
@using LivingMessiah.Features.Liturgy.Toolbar
@using LivingMessiah.Features.Liturgy.Toolbar.Modal

@inject IToastService? Toast
@inject ILogger<Index>? Logger

@using Page = LivingMessiah.Enums.Nav

<PageTitle>@Page.Liturgy.Title</PageTitle>
<div class="mt-3">
	<h3 class="text-center"><i class="@Page.Liturgy.Icon"></i>&nbsp;&nbsp;@Page.Liturgy.Title</h3>
</div>

<NavSkeleton>

	<JustifyStartRF><HomeButton /></JustifyStartRF>	

	<PrevButtonDivRF>
		<PreviousOrNextButton Section="Section" Direction=Enums.Direction.Previous OnSectionSelected="ReturnedSection" />
	</PrevButtonDivRF>

	<ProgressBarDivRF>
		<Progressbar Section="Section" CurrentContent=CurrentContent/>
	</ProgressBarDivRF>

	<NextButtonDivRF>
		<PreviousOrNextButton Section="Section" Direction=Enums.Direction.Next OnSectionSelected="ReturnedSection" />
	</NextButtonDivRF>

	<JustifyEndRF>
		<ModalMenuItemButtons OnModalSelected="ReturnedModalMenuItem" />
	</JustifyEndRF>

</NavSkeleton>

<ModalSkeleton ShowMenuItem="CurrentModalToShow">
	<!-- Instructions -->
	<InstructionsRF>
		<Template OnClose="ReturnedCloseEvent">
			<HeaderRF>Liturgy Instructions</HeaderRF>
			<BodyRF>
				<PageInstructions />
			</BodyRF>
		</Template>

	</InstructionsRF>

	<!-- User Settings -->
</ModalSkeleton>

<Detail EnumContent="CurrentContent" ShowImages=ShowImages />

@code {

	protected Enums.Content? CurrentContent;
	protected int Section = 1;
	protected bool ShowImages = false;

	protected override void OnInitialized()
	{
		CurrentContent = Enums.Content.List.FirstOrDefault(w => w.Value == Section);
	}

	private void ReturnedSection(int section)
	{
		Section = section;
		CurrentContent = Enums.Content.List.FirstOrDefault(w => w.Value == Section);
		// save to local storage
	}

	protected Enums.ModalMenuItem? CurrentModalToShow { get; set; }
	private void ReturnedModalMenuItem(Enums.ModalMenuItem modalMenuItem)
	{
		CurrentModalToShow = modalMenuItem;
		if (CurrentModalToShow == Enums.ModalMenuItem.ShowImages) { ShowImages = !ShowImages; }
	}

	private void ReturnedCloseEvent()
	{
		CurrentModalToShow = null;
		//Logger!.LogInformation("{Method}, CurrentModalToShow set to null", nameof(ReturnedCloseEvent));
	}
}
