<h3>DonationsIndex</h3>

@inject ILogger<DonationsIndex>? Logger
@inject IToastService? Toast

@* [Inject] private IState<RegistrantState>? State { get; set; } *@

<p>ToDo: Add Donations Index which looks just like the one in LivingMessiah web app</p>

@*
	ToDo: This probably needs to go Sukkot Reports
	<LivingMessiahAdmin.Features.Sukkot.ManageRegistration.DonationFilter />

<Form />
<PreviousDonationsTable RegistrationId="@RegistrationId" />

*@



@code {
	[Parameter, EditorRequired] public int RegistrationId { get; set; }

}
