@* 
	<div class="d-print-none"><img src=@Blobs.UrlRoot("footer.jpg") class="img-fluid" /></div>
  <div class="d-none d-print-block"><img src=@Blobs.UrlRoot("bannerline.png") class="img-fluid" /></div>
*@
<div class="footer">
	<a href="https://LivingMessiah.com">
		<img src="/icons/lmfavicon.ico" alt="Logo" width="32" height="32" class="rounded" />
		LivingMessiah.com
		</a>
</div>

@code {

}
