@page "/profile"

@using Microsoft.AspNetCore.Components.Authorization
@using Page = LivingMessiahAdmin.Enums.Nav

<PageHeader PageEnum="Page.Profile" />

<AuthorizeView>
	<Authorized>
		
		<Claims />
		@* 
Error: 
/home/runner/work/LivingMessiah/LivingMessiah/LivingMessiahAdmin/Features/Profile/Claims.razor(75,47): 
error CS0103: 
The name 'Authentication' does not exist in the current context 
	[/home/runner/work/LivingMessiah/LivingMessiah/LivingMessiahAdmin/LivingMessiahAdmin.csproj]
		*@

	</Authorized>
	<NotAuthorized>
		<div class="card border-warning my-5">
			<div class="card-header">Not Authorized</div>
			<div class="card-body">
				<h5 class="">To view <b>@Page.Profile.Title</b> you need to be logged in.</h5>
				<LoginRedirectButton ReturnUrl="@Page.Profile.Index" />
			</div>
		</div>
	</NotAuthorized>
</AuthorizeView>
