<h3>HRAForm</h3>

@inject ILogger<HRAForm>? Logger
@inject IToastService? Toast

<p>ToDo: Add the AgreementParagraph component which looks just like the one in LivingMessiah web app</p>
<p>ToDo: Add EditForm which looks just like the one in LivingMessiah web app and Yes No Button</p>

@code {
	void DoNotAgree_ButtonClick()
	{
		Logger!.LogDebug("{Method}", nameof(DoNotAgree_ButtonClick));
		//Dispatcher!.Dispatch(new ParentState.Set_PageHeader_For_Index_Action(ManageRegistration.Constants.GetPageHeaderForIndexVM()));
		//Dispatcher!.Dispatch(new Response_Message_Action(ResponseMessage.Warning, Constants.HRA.DidNotAgreeButton.ResponseMsg));
	}

	protected void Agree_ButtonClick()
	{
		Logger!.LogDebug("{Method}", nameof(Agree_ButtonClick));
		//Dispatcher!.Dispatch(new Add_Action(State!.Value.FormVM!, GetLocalTimeZone()));
		//Dispatcher!.Dispatch(new ManageRegistration.MasterDetail.GetAll_Action());
	}
}
