<h3>HRAForm</h3>

@inject ILogger<HRAForm>? Logger
@inject IToastService? Toast

<p>ToDo: Add the AgreementParagraph component which looks just like the one in LivingMessiah web app</p>
<p>ToDo: Add EditForm which looks just like the one in LivingMessiah web app and Yes No Button</p>

@code {
	void DoNotAgree_ButtonClick()
	{
		Logger!.LogDebug("{Method}", nameof(DoNotAgree_ButtonClick));
	}

	protected void Agree_ButtonClick()
	{
		Logger!.LogDebug("{Method}", nameof(Agree_ButtonClick));
	}
}
