@using LivingMessiahSukkot.Features.Enums
@using StepEnums = RCL.Features.Sukkot.Enums.Step

@* @inject ILogger<HorizontalStep>? Logger *@

<div class="card h-100 d-flex flex-column @GetBorder()">

	<div class="card-header @FontSize text-center @StepConstants.HeaderText @EnumStep!.CardHeaderCSS">
		<b>@EnumStep!.Value</b> <i class="@GetIcon(EnumStep!.Value)"></i>
	</div>

	@if (IsXs)
	{
		<div class="card-body text-center @EnumStep!.CardBodyCSS flex-fill"><i class="@EnumStep!.Icon fa-fw fa-2x"></i> </div>
	}
	else
	{
		<div class="card-body text-center @EnumStep!.CardBodyCSS flex-fill">@EnumStep!.Heading</div>
	}
</div>

@code {

	[Parameter, EditorRequired] public StepEnums? EnumStep { get; set; }
	[Parameter, EditorRequired] public StepEnums CurrentStep { get; set; } //Step? CurrentStep { get; set; }
	[Parameter, EditorRequired] public bool IsXs { get; set; }

	protected string FontSize => $"{(IsXs ? " fs-4" : " fs-2")}";

	private string GetIcon(int stepId)
	{
		if (EnumStep < CurrentStep!.Value)
		{
			return "far fa-check-square text-dark";
		}
		else
		{
			return "far fa-square text-black-50";
		}
	}

	private string GetBorder() =>
		EnumStep == CurrentStep!.Value ? StepConstants.Border : "";

}
