@using StepEnums = RCL.Features.Sukkot.Enums.Step

<p class="mt-4 mb-0 text-black-50">Steps...</p>

<ul class="list-inline">
	@foreach (var item in StepEnums.List
		.Where(w => w.Value > StepEnums.SignAgreement)
	.OrderBy(o => o.Value).ToList())
	{
		<li class="list-inline-item"><small>@item.Value: @item.Text</small></li>
	}
</ul>
