
<h2 class="text-primary mt-4 mb-1"><b>Introduction</b></h2>

<p class="ms-3 fs-5">
	Welcome to <b>Living Messiah Ministries</b>, located in Mesa, Arizona.
	We are building community from a Hebraic understanding while acknowledging the redemptive and reconciling work of Yahushua Ha Mashiach (Jesus The Messiah).
</p>

