@page "/"

<PageTitle>Home</PageTitle>

<HomeImage></HomeImage>

<div class="alert alert-warning text-center" role="alert">
	<b>Note:</b> The website is transitioning a software upgrade
	<br />
	Bare with us as we port features over
	<br />
	@Emoji.Happy
</div>

<div class="@MediaQuery.Xs.DivClass">
	<MediaQueryWrapper IsXs=true />
</div>

<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">

	<MediaQueryWrapper IsXs=false />
</div>

