@page "/"

<PageTitle>Home</PageTitle>

<HomeImage />

<LivingMessiah.Features.IntroductionAndWelcome.Index />

<div class="@MediaQuery.XsOrSm.DivClass">
	<MediaQueryWrapper IsXsOrSm=true />
</div>

<div class="@MediaQuery.MdOrLgOrXl.DivClass">

	<MediaQueryWrapper IsXsOrSm=false />
</div>



