@page "/"

@using LivingMessiahSukkot.Features.Components
@using Microsoft.AspNetCore.Components.Authorization
@using static LivingMessiahSukkot.Constants.Auth0

@inject ISecurityHelper? SecurityHelper

<PageHeader PageEnum="Nav.LandingPage" />

<LifeCycleAuthority>
  <OpenContent>

    <div class="card border border-warning border-4 bg-warning-subtle mt-4 mb-4">
      <AuthorizeView Policy=@Policy.Name>
        <Authorized>
          <div class="card-body  text-center"><h3>Hello, @context.User.Identity?.Name!</h3></div>
          <StartRegistrationButton IsAuthenticatedAndVerified=true />
        </Authorized>
        <NotAuthorized>
          <StartRegistrationButton IsAuthenticatedAndVerified=false />
          <LoggingInInstructions />
          <HelpGuideTogleButton />
        </NotAuthorized>
      </AuthorizeView>
    </div>

    <div class="@MediaQuery.XsOrSm.DivClass"><Header IsXsOrSm=true /></div>
    <div class="@MediaQuery.MdOrLgOrXl.DivClass"><Header IsXsOrSm=false /></div>
    <CalendarWeek />
    <Location />
    <Documents />
    @* <SukkotTShirt /> *@

  </OpenContent>
</LifeCycleAuthority>

@code {

}
